Repository damlys/gorun: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-image-devcontainer, publish-core-image-devcontainer, test-core-image-go1-rte, publish-core-image-go1-rte, test-core-image-go1-sdk, publish-core-image-go1-sdk, test-core-image-java21-rte, publish-core-image-java21-rte, test-core-image-java21-sdk, publish-core-image-java21-sdk, test-core-image-node22-rte, publish-core-image-node22-rte, test-core-image-node22-sdk, publish-core-image-node22-sdk, test-core-tfmod-main, plan-core-tfmod-main, apply-core-tfmod-main, test-core-tfmod-prod, plan-core-tfmod-prod, apply-core-tfmod-prod, test-core-tfmod-test, plan-core-tfmod-test, apply-core-tfmod-test, test-core-tfsub-gcp-docker-images-registry, publish-core-tfsub-gcp-docker-images-registry, test-core-tfsub-gcp-helm-charts-registry, publish-core-tfsub-gcp-helm-charts-registry, test-core-tfsub-gcp-project, publish-core-tfsub-gcp-project, test-core-tfsub-gcp-terraform-modules-registry, publish-core-tfsub-gcp-terraform-modules-registry, test-core-tfsub-gcp-terraform-state-bucket, publish-core-tfsub-gcp-terraform-state-bucket, test-core-tfsub-gke-platform, publish-core-tfsub-gke-platform, test-core-tfsub-gke-service-account, publish-core-tfsub-gke-service-account, test-core-tfsub-k8s-gateway-domain-redirect, publish-core-tfsub-k8s-gateway-domain-redirect, test-core-tfsub-k8s-gateway-http-route, publish-core-tfsub-k8s-gateway-http-route, test-core-tfsub-k8s-vault, publish-core-tfsub-k8s-vault, test-core-tfsub-k8s-workspace, publish-core-tfsub-k8s-workspace, test-demo-image-kuard, publish-demo-image-kuard, test-demo-gomod-kuard-tester, test-demo-chart-stateful-kuard, publish-demo-chart-stateful-kuard, test-demo-chart-stateless-kuard, publish-demo-chart-stateless-kuard, test-demo-tfmod-kuard, plan-demo-tfmod-kuard, apply-demo-tfmod-kuard, test-demo-tfsub-helm-manifest, publish-demo-tfsub-helm-manifest, test-demo-tfsub-helm-template, publish-demo-tfsub-helm-template, test-demo-tfsub-kuard, publish-demo-tfsub-kuard, test-o11y-tfmod-test, plan-o11y-tfmod-test, apply-o11y-tfmod-test, test-o11y-tfsub-gcp-availability-monitor, publish-o11y-tfsub-gcp-availability-monitor, test-o11y-tfsub-gke-lgtm-stack, publish-o11y-tfsub-gke-lgtm-stack, test-o11y-tfsub-k8s-otel-collectors, publish-o11y-tfsub-k8s-otel-collectors, test-o11y-tfsub-k8s-prom-exporters, publish-o11y-tfsub-k8s-prom-exporters

test-core-image-devcontainer:
  stage: test
  script:
  - ./scripts/docker-image build "projects/core/docker-images/devcontainer"
  - ./scripts/docker-image test "projects/core/docker-images/devcontainer"
  - ./scripts/docker-image pre-publish "projects/core/docker-images/devcontainer"
  ...

publish-core-image-devcontainer:
  stage: publish
  script:
  - ./scripts/docker-image build "projects/core/docker-images/devcontainer"
  - ./scripts/docker-image test "projects/core/docker-images/devcontainer"
  - ./scripts/docker-image publish "projects/core/docker-images/devcontainer"
  ...

test-core-image-go1-rte:
  stage: test
  script:
  - ./scripts/docker-image build "projects/core/docker-images/go1-rte"
  - ./scripts/docker-image test "projects/core/docker-images/go1-rte"
  - ./scripts/docker-image pre-publish "projects/core/docker-images/go1-rte"
  - ./scripts/docker-image show "projects/core/docker-images/go1-rte"

publish-core-image-go1-rte:
  stage: publish
  script:
  - ./scripts/docker-image build "projects/core/docker-images/go1-rte"
  - ./scripts/docker-image test "projects/core/docker-images/go1-rte"
  - ./scripts/docker-image publish "projects/core/docker-images/go1-rte"
  - ./scripts/docker-image show "projects/core/docker-images/go1-rte"

test-core-image-go1-sdk:
  stage: test
  script:
  - ./scripts/docker-image build "projects/core/docker-images/go1-sdk"
  - ./scripts/docker-image test "projects/core/docker-images/go1-sdk"
  - ./scripts/docker-image pre-publish "projects/core/docker-images/go1-sdk"
  - ./scripts/docker-image show "projects/core/docker-images/go1-sdk"

publish-core-image-go1-sdk:
  stage: publish
  script:
  - ./scripts/docker-image build "projects/core/docker-images/go1-sdk"
  - ./scripts/docker-image test "projects/core/docker-images/go1-sdk"
  - ./scripts/docker-image publish "projects/core/docker-images/go1-sdk"
  - ./scripts/docker-image show "projects/core/docker-images/go1-sdk"

test-core-image-java21-rte:
  stage: test
  script:
  - ./scripts/docker-image build "projects/core/docker-images/java21-rte"
  - ./scripts/docker-image test "projects/core/docker-images/java21-rte"
  - ./scripts/docker-image pre-publish "projects/core/docker-images/java21-rte"
  ...

publish-core-image-java21-rte:
  stage: publish
  script:
  - ./scripts/docker-image build "projects/core/docker-images/java21-rte"
  - ./scripts/docker-image test "projects/core/docker-images/java21-rte"
  - ./scripts/docker-image publish "projects/core/docker-images/java21-rte"
  ...

test-core-image-java21-sdk:
  stage: test
  script:
  - ./scripts/docker-image build "projects/core/docker-images/java21-sdk"
  - ./scripts/docker-image test "projects/core/docker-images/java21-sdk"
  - ./scripts/docker-image pre-publish "projects/core/docker-images/java21-sdk"
  ...

test-core-tfmod-main:
  stage: test
  cache:
    paths:
    - projects/core/terraform-modules/main/.terraform
  script:
  - ./scripts/terraform-module test "projects/core/terraform-modules/main"

workstation
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
  projects/core/docker-images/devcontainer/etc/.bashrc
Due: test-core-image-devcontainer, publish-core-image-devcontainer

workstation
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/devcontainer/container-structure-test.yaml
  projects/core/docker-images/devcontainer/etc/bash.bashrc
Due: test-core-image-devcontainer, publish-core-image-devcontainer

workstation
  projects/code/terraform-modules/test/main.tf
  projects/core/terraform-submodules/k8s-workstation/main.tf
  projects/core/terraform-submodules/k8s-workstation/variables.tf
Due: none

workstation
  .devcontainer/devcontainer.json
  projects/cicd/terraform-modules/cloud-build/locals.tf
Due: none

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test-core-tfsub-gke-platform, publish-core-tfsub-gke-platform

chore: update projects/core/docker-images/devcontainer/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/docker-images/devcontainer/CHANGELOG.md
Due: test-core-image-devcontainer, publish-core-image-devcontainer

workstation
  docs/03-workstations.md
  projects/code/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/role.workstation_owner.tf
  projects/core/terraform-submodules/k8s-workstation/main.tf
Due: test-core-tfsub-gke-platform, publish-core-tfsub-gke-platform

workstation
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
  projects/core/docker-images/workstation/.project.yaml
  projects/core/docker-images/workstation/CHANGELOG.md
  projects/core/docker-images/workstation/Dockerfile
  projects/core/docker-images/workstation/Dockerfile.bash
  projects/core/docker-images/workstation/README.md
  projects/core/docker-images/workstation/container-structure-test.yaml
  projects/core/docker-images/workstation/etc/code-server.yaml
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/k8s-workstation/locals.tf
  projects/core/terraform-submodules/k8s-workstation/main.tf
Due: test-core-image-devcontainer, publish-core-image-devcontainer, test-core-tfmod-test, plan-core-tfmod-test, apply-core-tfmod-test

chore: update projects/core/terraform-submodules/k8s-workstation/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-workstation/CHANGELOG.md
Due: none

chore: update projects/core/docker-images/workstation/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/docker-images/workstation/CHANGELOG.md
Due: none

workstation
  projects/core/terraform-submodules/k8s-workstation/locals.tf
  projects/core/terraform-submodules/k8s-workstation/main.tf
Due: none

feature: code workstations
  .devcontainer/devcontainer.json
  docs/02-devcontainer.md
  docs/03-workstations.md
  projects/cicd/terraform-modules/cloud-build/locals.tf
  projects/code/terraform-modules/test/.project.yaml
  projects/code/terraform-modules/test/.terraform.lock.hcl
  projects/code/terraform-modules/test/README.md
  projects/code/terraform-modules/test/main.tf
  projects/code/terraform-modules/test/providers.tf
  projects/code/terraform-modules/test/terraform.tf
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/README.md
  projects/core/docker-images/devcontainer/container-structure-test.yaml
  projects/core/docker-images/devcontainer/etc/bash.bashrc
  projects/core/docker-images/workstation/.project.yaml
  projects/core/docker-images/workstation/CHANGELOG.md
  projects/core/docker-images/workstation/Dockerfile
  projects/core/docker-images/workstation/Dockerfile.bash
  projects/core/docker-images/workstation/README.md
  projects/core/docker-images/workstation/container-structure-test.yaml
  projects/core/docker-images/workstation/etc/code-server.yaml
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
  projects/core/terraform-submodules/gke-platform/role.workstation_owner.tf
  projects/core/terraform-submodules/k8s-workstation/.project.yaml
  projects/core/terraform-submodules/k8s-workstation/CHANGELOG.md
  projects/core/terraform-submodules/k8s-workstation/README.md
  projects/core/terraform-submodules/k8s-workstation/locals.tf
  projects/core/terraform-submodules/k8s-workstation/main.tf
  projects/core/terraform-submodules/k8s-workstation/terraform.tf
  projects/core/terraform-submodules/k8s-workstation/variables.tf
Due: test-core-image-devcontainer, publish-core-image-devcontainer, test-core-tfmod-test, plan-core-tfmod-test, apply-core-tfmod-test, test-core-tfsub-gke-platform, publish-core-tfsub-gke-platform

feature: cicd
  docs/21-releases.md
  projects/cicd/terraform-modules/cloud-build/assets/build.gorun_bash.bash
  projects/cicd/terraform-modules/cloud-build/assets/build.gorun_go.bash
  projects/cicd/terraform-modules/cloud-build/assets/build.gorun_monorepo.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/assets/build.gorun_stop.bash
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_test_bash.bash
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_test_go.bash
  projects/cicd/terraform-modules/cloud-build/build.gorun_bash.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_go.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_monorepo.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_stop.tf
  projects/cicd/terraform-modules/cloud-build/locals.tf
  projects/cicd/terraform-modules/cloud-build/main.tf
  projects/cicd/terraform-modules/cloud-build/monorepo.tf
  scripts/cicd
  scripts/refresh-cicd
  scripts/terraform-module
  scripts/test
Due: none

feature: cicd
  projects/cicd/terraform-modules/cloud-build/build.gorun_bash.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_go.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_monorepo.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_stop.tf
  projects/cicd/terraform-modules/cloud-build/main.tf
  projects/cicd/terraform-modules/cloud-build/monorepo.tf
Due: none

gomod
  projects/cicd/terraform-modules/cloud-build/assets/gomod.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/assets/gorun_bash.bash
  projects/cicd/terraform-modules/cloud-build/assets/gorun_go.bash
  projects/cicd/terraform-modules/cloud-build/assets/gorun_monorepo.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/assets/gorun_start.bash
  projects/cicd/terraform-modules/cloud-build/assets/gorun_stop.bash
  projects/cicd/terraform-modules/cloud-build/build.gomod.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_go.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_monorepo.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_start.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_stop.tf
  projects/cicd/terraform-modules/cloud-build/main.tf
Due: none

gomod
  projects/cicd/terraform-modules/cloud-build/assets/gomod.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/assets/gorun_monorepo.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/build.gorun_start.tf
  scripts/dev
Due: none

fix devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/docker-desktop-kubeconfig
Due: none

fix devcontainer
  scripts/test
Due: none

fix devcontainer
  scripts/boom
  scripts/cicd
  scripts/dev
  scripts/docker-image
  scripts/ext
  scripts/helm-chart
  scripts/terraform-module
  scripts/terraform-submodule
  scripts/test
Due: none

feature: gomod cicd
  .devcontainer/devcontainer.json
  .devcontainer/docker-desktop-kubeconfig
  docs/21-releases.md
  projects/cicd/terraform-modules/cloud-build/assets/gomod.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/assets/gorun_bash.bash
  projects/cicd/terraform-modules/cloud-build/assets/gorun_go.bash
  projects/cicd/terraform-modules/cloud-build/assets/gorun_monorepo.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/assets/gorun_start.bash
  projects/cicd/terraform-modules/cloud-build/assets/gorun_stop.bash
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_test_bash.bash
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_test_go.bash
  projects/cicd/terraform-modules/cloud-build/build.gomod.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_bash.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_go.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_monorepo.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_start.tf
  projects/cicd/terraform-modules/cloud-build/build.gorun_stop.tf
  projects/cicd/terraform-modules/cloud-build/locals.tf
  projects/cicd/terraform-modules/cloud-build/main.tf
  scripts/boom
  scripts/cicd
  scripts/dev
  scripts/docker-image
  scripts/ext
  scripts/helm-chart
  scripts/refresh-cicd
  scripts/terraform-module
  scripts/terraform-submodule
  scripts/test
Due: none

chore: use debian trixie and ubuntu resolute
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/go1-rte/.project.yaml
  projects/core/docker-images/go1-rte/Dockerfile
  projects/core/docker-images/go1-rte/container-structure-test.yaml
  projects/core/docker-images/go1-sdk/.project.yaml
  projects/core/docker-images/go1-sdk/Dockerfile
  projects/core/docker-images/go1-sdk/container-structure-test.yaml
  projects/core/docker-images/java21-rte/.project.yaml
  projects/core/docker-images/java21-rte/Dockerfile
  projects/core/docker-images/java21-rte/container-structure-test.yaml
  projects/core/docker-images/java21-sdk/.project.yaml
  projects/core/docker-images/java21-sdk/Dockerfile
  projects/core/docker-images/java21-sdk/container-structure-test.yaml
  projects/core/docker-images/node24-rte/.project.yaml
  projects/core/docker-images/node24-rte/Dockerfile
  projects/core/docker-images/node24-rte/container-structure-test.yaml
  projects/core/docker-images/node24-sdk/.project.yaml
  projects/core/docker-images/node24-sdk/Dockerfile
  projects/core/docker-images/node24-sdk/container-structure-test.yaml
Due: test-core-image-devcontainer, publish-core-image-devcontainer, test-core-image-go1-rte, publish-core-image-go1-rte, test-core-image-go1-sdk, publish-core-image-go1-sdk, test-core-image-java21-rte, publish-core-image-java21-rte, test-core-image-java21-sdk, publish-core-image-java21-sdk

chore: update projects/core/docker-images/go1-sdk/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/docker-images/go1-sdk/CHANGELOG.md
Due: test-core-image-go1-sdk, publish-core-image-go1-sdk

chore: update projects/core/docker-images/node24-sdk/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/docker-images/node24-sdk/CHANGELOG.md
Due: none

chore: update projects/core/docker-images/java21-sdk/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/docker-images/java21-sdk/CHANGELOG.md
Due: test-core-image-java21-sdk, publish-core-image-java21-sdk

chore: update projects/core/docker-images/java21-rte/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/docker-images/java21-rte/CHANGELOG.md
Due: test-core-image-java21-rte, publish-core-image-java21-rte

chore: use debian trixie and ubuntu resolute
  projects/core/docker-images/go1-rte/container-structure-test.yaml
  projects/core/docker-images/node24-rte/container-structure-test.yaml
Due: test-core-image-go1-rte, publish-core-image-go1-rte

chore: update projects/core/docker-images/devcontainer/CHANGELOG.md header (v0.9.102) [skip ci] [ci skip]
  projects/core/docker-images/devcontainer/CHANGELOG.md
Due: test-core-image-devcontainer, publish-core-image-devcontainer

chore: update projects/core/docker-images/node24-rte/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/docker-images/node24-rte/CHANGELOG.md
Due: none

chore: update projects/core/docker-images/go1-rte/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/docker-images/go1-rte/CHANGELOG.md
Due: test-core-image-go1-rte, publish-core-image-go1-rte

chore: use debian trixie and ubuntu resolute
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/CHANGELOG.md
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/go1-rte/.project.yaml
  projects/core/docker-images/go1-rte/CHANGELOG.md
  projects/core/docker-images/go1-rte/Dockerfile
  projects/core/docker-images/go1-rte/container-structure-test.yaml
  projects/core/docker-images/go1-sdk/.project.yaml
  projects/core/docker-images/go1-sdk/CHANGELOG.md
  projects/core/docker-images/go1-sdk/Dockerfile
  projects/core/docker-images/go1-sdk/container-structure-test.yaml
  projects/core/docker-images/java21-rte/.project.yaml
  projects/core/docker-images/java21-rte/CHANGELOG.md
  projects/core/docker-images/java21-rte/Dockerfile
  projects/core/docker-images/java21-rte/container-structure-test.yaml
  projects/core/docker-images/java21-sdk/.project.yaml
  projects/core/docker-images/java21-sdk/CHANGELOG.md
  projects/core/docker-images/java21-sdk/Dockerfile
  projects/core/docker-images/java21-sdk/container-structure-test.yaml
  projects/core/docker-images/node24-rte/.project.yaml
  projects/core/docker-images/node24-rte/CHANGELOG.md
  projects/core/docker-images/node24-rte/Dockerfile
  projects/core/docker-images/node24-rte/container-structure-test.yaml
  projects/core/docker-images/node24-sdk/.project.yaml
  projects/core/docker-images/node24-sdk/CHANGELOG.md
  projects/core/docker-images/node24-sdk/Dockerfile
  projects/core/docker-images/node24-sdk/container-structure-test.yaml
Due: test-core-image-devcontainer, publish-core-image-devcontainer, test-core-image-go1-rte, publish-core-image-go1-rte, test-core-image-go1-sdk, publish-core-image-go1-sdk, test-core-image-java21-rte, publish-core-image-java21-rte, test-core-image-java21-sdk, publish-core-image-java21-sdk

chore: update images versions
  .devcontainer/devcontainer.json
  projects/cicd/terraform-modules/cloud-build/locals.tf
  projects/core/docker-images/workstation/.project.yaml
  projects/core/docker-images/workstation/Dockerfile
Due: none

x
  projects/code/terraform-modules/test/.project.yaml
  projects/core/terraform-submodules/k8s-workstation/.project.yaml
  projects/core/terraform-submodules/k8s-workstation/locals.tf
Due: none

chore: update projects/core/terraform-submodules/k8s-workstation/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-workstation/CHANGELOG.md
Due: none

x
  projects/code/terraform-modules/test/.project.yaml
Due: none

chore: update projects/core/docker-images/workstation/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/docker-images/workstation/CHANGELOG.md
Due: none

chore: update images versions
  .devcontainer/devcontainer.json
  projects/cicd/terraform-modules/cloud-build/locals.tf
  projects/code/terraform-modules/test/.project.yaml
  projects/core/docker-images/workstation/.project.yaml
  projects/core/docker-images/workstation/CHANGELOG.md
  projects/core/docker-images/workstation/Dockerfile
  projects/core/terraform-submodules/k8s-workstation/.project.yaml
  projects/core/terraform-submodules/k8s-workstation/CHANGELOG.md
  projects/core/terraform-submodules/k8s-workstation/locals.tf
Due: none

fix: add LANG env to docker images [skip ci]
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/go1-rte/Dockerfile
  projects/core/docker-images/go1-sdk/Dockerfile
  projects/core/docker-images/java21-rte/Dockerfile
  projects/core/docker-images/java21-sdk/Dockerfile
  projects/core/docker-images/node24-rte/Dockerfile
  projects/core/docker-images/node24-sdk/Dockerfile
  projects/demo/docker-images/kuard/Dockerfile
  projects/o11y/docker-images/grafana/Dockerfile
Due: test-core-image-devcontainer, publish-core-image-devcontainer, test-core-image-go1-rte, publish-core-image-go1-rte, test-core-image-go1-sdk, publish-core-image-go1-sdk, test-core-image-java21-rte, publish-core-image-java21-rte, test-core-image-java21-sdk, publish-core-image-java21-sdk, test-demo-image-kuard, publish-demo-image-kuard

feature: add name prefix to workspace namespace
  docs/30-platform.md
  projects/apps/terraform-modules/test/.terraform.lock.hcl
  projects/apps/terraform-modules/test/main.tf
  projects/cicd/terraform-modules/cloud-build/.terraform.lock.hcl
  projects/cicd/terraform-modules/cloud-build/assets/gomod.bash.tftpl
  projects/code/terraform-modules/test/.terraform.lock.hcl
  projects/core/terraform-modules/main/.terraform.lock.hcl
  projects/core/terraform-modules/prod/.terraform.lock.hcl
  projects/core/terraform-modules/test/.terraform.lock.hcl
  projects/core/terraform-submodules/k8s-workspace/.project.yaml
  projects/core/terraform-submodules/k8s-workspace/main.tf
  projects/demo/terraform-modules/kuard/.terraform.lock.hcl
  projects/o11y/terraform-modules/test/.terraform.lock.hcl
Due: test-core-tfmod-main, plan-core-tfmod-main, apply-core-tfmod-main, test-core-tfmod-prod, plan-core-tfmod-prod, apply-core-tfmod-prod, test-core-tfmod-test, plan-core-tfmod-test, apply-core-tfmod-test, test-core-tfsub-k8s-workspace, publish-core-tfsub-k8s-workspace, test-demo-tfmod-kuard, plan-demo-tfmod-kuard, apply-demo-tfmod-kuard, test-o11y-tfmod-test, plan-o11y-tfmod-test, apply-o11y-tfmod-test

Path conditions:
  test-core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish-core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  test-core-image-go1-rte: any of: projects/core/docker-images/go1-rte/**
  publish-core-image-go1-rte: any of: projects/core/docker-images/go1-rte/**
  test-core-image-go1-sdk: any of: projects/core/docker-images/go1-sdk/**
  publish-core-image-go1-sdk: any of: projects/core/docker-images/go1-sdk/**
  test-core-image-java21-rte: any of: projects/core/docker-images/java21-rte/**
  publish-core-image-java21-rte: any of: projects/core/docker-images/java21-rte/**
  test-core-image-java21-sdk: any of: projects/core/docker-images/java21-sdk/**
  publish-core-image-java21-sdk: any of: projects/core/docker-images/java21-sdk/**
  test-core-image-node22-rte: any of: projects/core/docker-images/node22-rte/**
  publish-core-image-node22-rte: any of: projects/core/docker-images/node22-rte/**
  test-core-image-node22-sdk: any of: projects/core/docker-images/node22-sdk/**
  publish-core-image-node22-sdk: any of: projects/core/docker-images/node22-sdk/**
  test-core-tfmod-main: any of: projects/core/terraform-modules/main/**
  plan-core-tfmod-main: any of: projects/core/terraform-modules/main/**
  apply-core-tfmod-main: any of: projects/core/terraform-modules/main/**
  test-core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  plan-core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  apply-core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  test-core-tfmod-test: any of: projects/core/terraform-modules/test/**
  plan-core-tfmod-test: any of: projects/core/terraform-modules/test/**
  apply-core-tfmod-test: any of: projects/core/terraform-modules/test/**
  test-core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish-core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test-core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish-core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test-core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish-core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test-core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish-core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test-core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish-core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test-core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish-core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test-core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish-core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test-core-tfsub-k8s-gateway-domain-redirect: any of: projects/core/terraform-submodules/k8s-gateway-domain-redirect/**
  publish-core-tfsub-k8s-gateway-domain-redirect: any of: projects/core/terraform-submodules/k8s-gateway-domain-redirect/**
  test-core-tfsub-k8s-gateway-http-route: any of: projects/core/terraform-submodules/k8s-gateway-http-route/**
  publish-core-tfsub-k8s-gateway-http-route: any of: projects/core/terraform-submodules/k8s-gateway-http-route/**
  test-core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  publish-core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  test-core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  publish-core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  test-demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  publish-demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  test-demo-gomod-kuard-tester: any of: projects/demo/go-modules/kuard-tester/**
  test-demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  publish-demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  test-demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  publish-demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  test-demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  plan-demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  apply-demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  test-demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  publish-demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  test-demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  publish-demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  test-demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  publish-demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  test-o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  plan-o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  apply-o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  test-o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish-o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test-o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish-o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test-o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  publish-o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  test-o11y-tfsub-k8s-prom-exporters: any of: projects/o11y/terraform-submodules/k8s-prom-exporters/**
  publish-o11y-tfsub-k8s-prom-exporters: any of: projects/o11y/terraform-submodules/k8s-prom-exporters/**
