Repository damlys/gorun: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-image-devcontainer, publish-core-image-devcontainer, test-core-image-go1-rte, publish-core-image-go1-rte, test-core-image-go1-sdk, publish-core-image-go1-sdk, test-core-image-java21-rte, publish-core-image-java21-rte, test-core-image-java21-sdk, publish-core-image-java21-sdk, test-core-image-node22-rte, publish-core-image-node22-rte, test-core-image-node22-sdk, publish-core-image-node22-sdk, test-core-tfmod-main, plan-core-tfmod-main, apply-core-tfmod-main, test-core-tfmod-prod, plan-core-tfmod-prod, apply-core-tfmod-prod, test-core-tfmod-test, plan-core-tfmod-test, apply-core-tfmod-test, test-core-tfsub-gcp-docker-images-registry, publish-core-tfsub-gcp-docker-images-registry, test-core-tfsub-gcp-helm-charts-registry, publish-core-tfsub-gcp-helm-charts-registry, test-core-tfsub-gcp-project, publish-core-tfsub-gcp-project, test-core-tfsub-gcp-terraform-modules-registry, publish-core-tfsub-gcp-terraform-modules-registry, test-core-tfsub-gcp-terraform-state-bucket, publish-core-tfsub-gcp-terraform-state-bucket, test-core-tfsub-gke-platform, publish-core-tfsub-gke-platform, test-core-tfsub-gke-service-account, publish-core-tfsub-gke-service-account, test-core-tfsub-k8s-gateway-domain-redirect, publish-core-tfsub-k8s-gateway-domain-redirect, test-core-tfsub-k8s-gateway-http-route, publish-core-tfsub-k8s-gateway-http-route, test-core-tfsub-k8s-vault, publish-core-tfsub-k8s-vault, test-core-tfsub-k8s-workspace, publish-core-tfsub-k8s-workspace, test-demo-image-kuard, publish-demo-image-kuard, test-demo-gomod-kuard-tester, test-demo-chart-stateful-kuard, publish-demo-chart-stateful-kuard, test-demo-chart-stateless-kuard, publish-demo-chart-stateless-kuard, test-demo-tfmod-kuard, plan-demo-tfmod-kuard, apply-demo-tfmod-kuard, test-demo-tfsub-helm-manifest, publish-demo-tfsub-helm-manifest, test-demo-tfsub-helm-template, publish-demo-tfsub-helm-template, test-demo-tfsub-kuard, publish-demo-tfsub-kuard, test-o11y-tfmod-test, plan-o11y-tfmod-test, apply-o11y-tfmod-test, test-o11y-tfsub-gcp-availability-monitor, publish-o11y-tfsub-gcp-availability-monitor, test-o11y-tfsub-gke-lgtm-stack, publish-o11y-tfsub-gke-lgtm-stack, test-o11y-tfsub-k8s-otel-collectors, publish-o11y-tfsub-k8s-otel-collectors, test-o11y-tfsub-k8s-prom-exporters, publish-o11y-tfsub-k8s-prom-exporters

Path conditions:
  test-core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish-core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  test-core-image-go1-rte: any of: projects/core/docker-images/go1-rte/**
  publish-core-image-go1-rte: any of: projects/core/docker-images/go1-rte/**
  test-core-image-go1-sdk: any of: projects/core/docker-images/go1-sdk/**
  publish-core-image-go1-sdk: any of: projects/core/docker-images/go1-sdk/**
  test-core-image-java21-rte: any of: projects/core/docker-images/java21-rte/**
  publish-core-image-java21-rte: any of: projects/core/docker-images/java21-rte/**
  test-core-image-java21-sdk: any of: projects/core/docker-images/java21-sdk/**
  publish-core-image-java21-sdk: any of: projects/core/docker-images/java21-sdk/**
  test-core-image-node22-rte: any of: projects/core/docker-images/node22-rte/**
  publish-core-image-node22-rte: any of: projects/core/docker-images/node22-rte/**
  test-core-image-node22-sdk: any of: projects/core/docker-images/node22-sdk/**
  publish-core-image-node22-sdk: any of: projects/core/docker-images/node22-sdk/**
  test-core-tfmod-main: any of: projects/core/terraform-modules/main/**
  plan-core-tfmod-main: any of: projects/core/terraform-modules/main/**
  apply-core-tfmod-main: any of: projects/core/terraform-modules/main/**
  test-core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  plan-core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  apply-core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  test-core-tfmod-test: any of: projects/core/terraform-modules/test/**
  plan-core-tfmod-test: any of: projects/core/terraform-modules/test/**
  apply-core-tfmod-test: any of: projects/core/terraform-modules/test/**
  test-core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish-core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test-core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish-core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test-core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish-core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test-core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish-core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test-core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish-core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test-core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish-core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test-core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish-core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test-core-tfsub-k8s-gateway-domain-redirect: any of: projects/core/terraform-submodules/k8s-gateway-domain-redirect/**
  publish-core-tfsub-k8s-gateway-domain-redirect: any of: projects/core/terraform-submodules/k8s-gateway-domain-redirect/**
  test-core-tfsub-k8s-gateway-http-route: any of: projects/core/terraform-submodules/k8s-gateway-http-route/**
  publish-core-tfsub-k8s-gateway-http-route: any of: projects/core/terraform-submodules/k8s-gateway-http-route/**
  test-core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  publish-core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  test-core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  publish-core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  test-demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  publish-demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  test-demo-gomod-kuard-tester: any of: projects/demo/go-modules/kuard-tester/**
  test-demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  publish-demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  test-demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  publish-demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  test-demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  plan-demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  apply-demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  test-demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  publish-demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  test-demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  publish-demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  test-demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  publish-demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  test-o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  plan-o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  apply-o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  test-o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish-o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test-o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish-o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test-o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  publish-o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  test-o11y-tfsub-k8s-prom-exporters: any of: projects/o11y/terraform-submodules/k8s-prom-exporters/**
  publish-o11y-tfsub-k8s-prom-exporters: any of: projects/o11y/terraform-submodules/k8s-prom-exporters/**

refresh
  projects/cicd/terraform-modules/cloud-build/assets/monorepo.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/locals.tf
Due: none

chore: update projects/demo/helm-charts/stateful-kuard/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/demo/helm-charts/stateful-kuard/CHANGELOG.md
Due: test-demo-chart-stateful-kuard, publish-demo-chart-stateful-kuard

chore: update projects/o11y/terraform-submodules/gcp-availability-monitor/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/gcp-availability-monitor/CHANGELOG.md
Due: test-o11y-tfsub-gcp-availability-monitor, publish-o11y-tfsub-gcp-availability-monitor

chore: update projects/core/terraform-submodules/k8s-vault/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-vault/CHANGELOG.md
Due: test-core-tfsub-k8s-vault, publish-core-tfsub-k8s-vault

chore: update projects/core/terraform-submodules/gcp-project/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-project/CHANGELOG.md
Due: test-core-tfsub-gcp-project, publish-core-tfsub-gcp-project

chore: update projects/demo/helm-charts/stateless-kuard/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/demo/helm-charts/stateless-kuard/CHANGELOG.md
Due: test-demo-chart-stateless-kuard, publish-demo-chart-stateless-kuard

chore: update projects/core/terraform-submodules/gcp-terraform-modules-registry/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-terraform-modules-registry/CHANGELOG.md
Due: test-core-tfsub-gcp-terraform-modules-registry, publish-core-tfsub-gcp-terraform-modules-registry

chore: update projects/o11y/helm-charts/grafana/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/o11y/helm-charts/grafana/CHANGELOG.md
Due: none

chore: update projects/core/terraform-submodules/gcp-helm-charts-registry/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-helm-charts-registry/CHANGELOG.md
Due: test-core-tfsub-gcp-helm-charts-registry, publish-core-tfsub-gcp-helm-charts-registry

chore: update projects/demo/docker-images/kuard/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/demo/docker-images/kuard/CHANGELOG.md
Due: test-demo-image-kuard, publish-demo-image-kuard

chore: update projects/core/terraform-submodules/gcp-docker-images-registry/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-docker-images-registry/CHANGELOG.md
Due: test-core-tfsub-gcp-docker-images-registry, publish-core-tfsub-gcp-docker-images-registry

chore: update projects/core/helm-charts/postgres/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/helm-charts/postgres/CHANGELOG.md
Due: none

chore: update projects/apps/helm-charts/http-server/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/apps/helm-charts/http-server/CHANGELOG.md
Due: none

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test-core-tfsub-gke-platform, publish-core-tfsub-gke-platform

chore: update projects/o11y/docker-images/grafana/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/o11y/docker-images/grafana/CHANGELOG.md
Due: none

chore: update projects/core/helm-charts/clickhouse/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/helm-charts/clickhouse/CHANGELOG.md
Due: none

chore: update projects/demo/terraform-submodules/kuard/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/demo/terraform-submodules/kuard/CHANGELOG.md
Due: test-demo-tfsub-kuard, publish-demo-tfsub-kuard

chore: update projects/core/terraform-submodules/k8s-workspace/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-workspace/CHANGELOG.md
Due: test-core-tfsub-k8s-workspace, publish-core-tfsub-k8s-workspace

chore: update projects/core/terraform-submodules/gcp-terraform-state-bucket/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-terraform-state-bucket/CHANGELOG.md
Due: test-core-tfsub-gcp-terraform-state-bucket, publish-core-tfsub-gcp-terraform-state-bucket

chore: update projects/o11y/terraform-submodules/gke-observability-stack/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/gke-observability-stack/CHANGELOG.md
Due: none

chore: update projects/core/terraform-submodules/gke-service-account/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-service-account/CHANGELOG.md
Due: test-core-tfsub-gke-service-account, publish-core-tfsub-gke-service-account

chore: update projects/core/docker-images/go1-sdk/CHANGELOG.md header (v0.9.100) [skip ci] [ci skip]
  projects/core/docker-images/go1-sdk/CHANGELOG.md
Due: test-core-image-go1-sdk, publish-core-image-go1-sdk

refresh [skip ci]
  projects/cicd/terraform-modules/cloud-build/main.tf
Due: none

feature: cloud build test scripts
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_dev_stop.bash
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_test_bash.bash
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_test_go.bash
  projects/cicd/terraform-modules/cloud-build/main.tf
Due: none

feature: cloud build test scripts
  go/cmd/render-bitbucket-pipelines/main.go
  projects/cicd/terraform-modules/cloud-build/main.tf
  scripts/dev
Due: none

feature: cloud build test scripts
  go/cmd/render-bitbucket-pipelines/main.go
  scripts/dev
Due: none

feature: cloud build test scripts
  projects/cicd/terraform-modules/cloud-build/main.tf
  projects/cicd/terraform-modules/cloud-build/outputs.tf
  projects/core/terraform-submodules/gcp-project/.project.yaml
  projects/core/terraform-submodules/gcp-project/locals.tf
Due: test-core-tfsub-gcp-project, publish-core-tfsub-gcp-project

chore: update projects/core/terraform-submodules/gcp-project/CHANGELOG.md header (v0.9.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-project/CHANGELOG.md
Due: test-core-tfsub-gcp-project, publish-core-tfsub-gcp-project

feature: cloud build test scripts
  projects/cicd/terraform-modules/cloud-build/main.tf
Due: none

feature: cloud build scripts
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_dev_stop.bash
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_test_bash.bash
  projects/cicd/terraform-modules/cloud-build/assets/monorepo_test_go.bash
  projects/cicd/terraform-modules/cloud-build/main.tf
  projects/cicd/terraform-modules/cloud-build/outputs.tf
  projects/core/terraform-submodules/gcp-project/.project.yaml
  projects/core/terraform-submodules/gcp-project/CHANGELOG.md
  projects/core/terraform-submodules/gcp-project/locals.tf
Due: test-core-tfsub-gcp-project, publish-core-tfsub-gcp-project

feature: k8s workstations
  projects/code/terraform-modules/test/.project.yaml
  projects/code/terraform-modules/test/README.md
  projects/code/terraform-modules/test/main.tf
  projects/code/terraform-modules/test/providers.tf
  projects/code/terraform-modules/test/terraform.tf
  projects/code/terraform-submodules/k8s-workstation/.project.yaml
  projects/code/terraform-submodules/k8s-workstation/CHANGELOG.md
  projects/code/terraform-submodules/k8s-workstation/README.md
  projects/code/terraform-submodules/k8s-workstation/main.tf
  projects/code/terraform-submodules/k8s-workstation/terraform.tf
  projects/code/terraform-submodules/k8s-workstation/variables.tf
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
Due: test-core-image-devcontainer, publish-core-image-devcontainer

workstation
  docs/02-devcontainer.md
  projects/core/docker-images/devcontainer/README.md
Due: test-core-image-devcontainer, publish-core-image-devcontainer

workstation
  projects/code/terraform-modules/test/main.tf
  projects/code/terraform-submodules/k8s-workstation/.project.yaml
  projects/code/terraform-submodules/k8s-workstation/main.tf
  projects/core/terraform-submodules/k8s-workstation/.project.yaml
  projects/core/terraform-submodules/k8s-workstation/CHANGELOG.md
  projects/core/terraform-submodules/k8s-workstation/README.md
  projects/core/terraform-submodules/k8s-workstation/main.tf
  projects/core/terraform-submodules/k8s-workstation/terraform.tf
  projects/core/terraform-submodules/k8s-workstation/variables.tf
Due: none

workstation
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/role.workstation_owner.tf
Due: test-core-tfsub-gke-platform, publish-core-tfsub-gke-platform

workstation
  projects/code/terraform-modules/test/main.tf
  projects/core/terraform-submodules/k8s-workstation/main.tf
  projects/core/terraform-submodules/k8s-workstation/variables.tf
Due: none

workstation
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
  projects/core/terraform-submodules/k8s-workstation/main.tf
Due: test-core-image-devcontainer, publish-core-image-devcontainer

workstation
  projects/code/terraform-modules/test/.terraform.lock.hcl
  projects/core/terraform-submodules/k8s-workstation/locals.tf
  projects/core/terraform-submodules/k8s-workstation/main.tf
  projects/core/terraform-submodules/k8s-workstation/variables.tf
Due: none

workstation
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
  projects/core/terraform-submodules/k8s-workstation/main.tf
Due: test-core-image-devcontainer, publish-core-image-devcontainer

workstation
  projects/core/docker-images/devcontainer/Dockerfile
  projects/core/docker-images/devcontainer/etc/code-server.yaml
  projects/core/terraform-submodules/k8s-workstation/main.tf
Due: test-core-image-devcontainer, publish-core-image-devcontainer
