Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test projects/core/docker-images/devcontainer, test projects/core/docker-images/go-rte, test projects/core/docker-images/go-sdk, validate projects/core/terraform-modules/main, validate projects/core/terraform-modules/prod, validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gcp-docker-images-registry, test projects/core/terraform-submodules/gcp-helm-charts-registry, test projects/core/terraform-submodules/gcp-project, test projects/core/terraform-submodules/gcp-terraform-modules-registry, test projects/core/terraform-submodules/gcp-terraform-state-bucket, test projects/core/terraform-submodules/gke-gateway-redirect, test projects/core/terraform-submodules/gke-gateway-route, test projects/core/terraform-submodules/gke-platform, test projects/core/terraform-submodules/gke-service-account, test projects/kuard/docker-images/kuard, test projects/kuard/helm-charts/stateful-kuard, test projects/kuard/helm-charts/stateless-kuard, validate projects/kuard/terraform-modules/kuard, test projects/kuard/terraform-submodules/helm-release, test projects/kuard/terraform-submodules/kuard, validate projects/o11y/terraform-modules/test-monitor, test projects/o11y/terraform-submodules/gcp-availability-monitor, test projects/o11y/terraform-submodules/gke-lgtm-stack, test projects/o11y/terraform-submodules/k8s-otel-collectors, plan projects/core/terraform-modules/main, plan projects/core/terraform-modules/prod, plan projects/core/terraform-modules/test, plan projects/kuard/terraform-modules/kuard, plan projects/o11y/terraform-modules/test-monitor, publish projects/core/docker-images/devcontainer, publish projects/core/docker-images/go-rte, publish projects/core/docker-images/go-sdk, publish projects/core/terraform-submodules/gcp-docker-images-registry, publish projects/core/terraform-submodules/gcp-helm-charts-registry, publish projects/core/terraform-submodules/gcp-project, publish projects/core/terraform-submodules/gcp-terraform-modules-registry, publish projects/core/terraform-submodules/gcp-terraform-state-bucket, publish projects/core/terraform-submodules/gke-gateway-redirect, publish projects/core/terraform-submodules/gke-gateway-route, publish projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-service-account, publish projects/kuard/docker-images/kuard, publish projects/kuard/helm-charts/stateful-kuard, publish projects/kuard/helm-charts/stateless-kuard, publish projects/kuard/terraform-submodules/helm-release, publish projects/kuard/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/gcp-availability-monitor, publish projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/k8s-otel-collectors, apply projects/core/terraform-modules/main, apply projects/core/terraform-modules/prod, apply projects/core/terraform-modules/test, apply projects/kuard/terraform-modules/kuard, apply projects/o11y/terraform-modules/test-monitor

Path conditions:
  test projects/core/docker-images/devcontainer: any of: projects/core/docker-images/devcontainer/**
  test projects/core/docker-images/go-rte: any of: projects/core/docker-images/go-rte/**
  test projects/core/docker-images/go-sdk: any of: projects/core/docker-images/go-sdk/**
  validate projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  validate projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  validate projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  test projects/core/terraform-submodules/gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test projects/core/terraform-submodules/gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test projects/core/terraform-submodules/gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test projects/core/terraform-submodules/gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test projects/core/terraform-submodules/gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test projects/core/terraform-submodules/gke-gateway-redirect: any of: projects/core/terraform-submodules/gke-gateway-redirect/**
  test projects/core/terraform-submodules/gke-gateway-route: any of: projects/core/terraform-submodules/gke-gateway-route/**
  test projects/core/terraform-submodules/gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test projects/core/terraform-submodules/gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test projects/kuard/docker-images/kuard: any of: projects/kuard/docker-images/kuard/**
  test projects/kuard/helm-charts/stateful-kuard: any of: projects/kuard/helm-charts/stateful-kuard/**
  test projects/kuard/helm-charts/stateless-kuard: any of: projects/kuard/helm-charts/stateless-kuard/**
  validate projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  test projects/kuard/terraform-submodules/helm-release: any of: projects/kuard/terraform-submodules/helm-release/**
  test projects/kuard/terraform-submodules/kuard: any of: projects/kuard/terraform-submodules/kuard/**
  validate projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**
  test projects/o11y/terraform-submodules/gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test projects/o11y/terraform-submodules/gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test projects/o11y/terraform-submodules/k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  plan projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  plan projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  plan projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  plan projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  plan projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**
  publish projects/core/docker-images/devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish projects/core/docker-images/go-rte: any of: projects/core/docker-images/go-rte/**
  publish projects/core/docker-images/go-sdk: any of: projects/core/docker-images/go-sdk/**
  publish projects/core/terraform-submodules/gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish projects/core/terraform-submodules/gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish projects/core/terraform-submodules/gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish projects/core/terraform-submodules/gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish projects/core/terraform-submodules/gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish projects/core/terraform-submodules/gke-gateway-redirect: any of: projects/core/terraform-submodules/gke-gateway-redirect/**
  publish projects/core/terraform-submodules/gke-gateway-route: any of: projects/core/terraform-submodules/gke-gateway-route/**
  publish projects/core/terraform-submodules/gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish projects/core/terraform-submodules/gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish projects/kuard/docker-images/kuard: any of: projects/kuard/docker-images/kuard/**
  publish projects/kuard/helm-charts/stateful-kuard: any of: projects/kuard/helm-charts/stateful-kuard/**
  publish projects/kuard/helm-charts/stateless-kuard: any of: projects/kuard/helm-charts/stateless-kuard/**
  publish projects/kuard/terraform-submodules/helm-release: any of: projects/kuard/terraform-submodules/helm-release/**
  publish projects/kuard/terraform-submodules/kuard: any of: projects/kuard/terraform-submodules/kuard/**
  publish projects/o11y/terraform-submodules/gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish projects/o11y/terraform-submodules/gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish projects/o11y/terraform-submodules/k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  apply projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  apply projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  apply projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  apply projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  apply projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**

dev
  docs/20-monitoring.md
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/outputs.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
  projects/demo/terraform-modules/kuard/main.tf
  projects/o11y/terraform-modules/test/main.tf
  scripts/boom
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

whois
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
Due: test projects/core/docker-images/devcontainer, publish projects/core/docker-images/devcontainer

platform_dnssec_enabled
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

platform_dnssec_enabled
  projects/core/terraform-submodules/gke-platform/variables.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

feature: DNSSEC
  .devcontainer/devcontainer.json
  docs/20-monitoring.md
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-modules/test/outputs.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/outputs.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
  projects/demo/terraform-modules/kuard/main.tf
  projects/o11y/terraform-modules/test/main.tf
  scripts/boom
Due: test projects/core/docker-images/devcontainer, validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/docker-images/devcontainer, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

feature: handle many node pools
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

feature: handle many node pools
  projects/core/terraform-submodules/gke-platform/main.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

feature: vaults for secret values and Grafana SMTP
  docs/11-secrets.md
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/locals.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/role.vault_editor.tf
  projects/core/terraform-submodules/gke-platform/role.vault_viewer.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  projects/o11y/terraform-submodules/gke-lgtm-stack/locals.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/variables.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack, apply projects/core/terraform-modules/test

docs
  docs/11-secrets.md
Due: none

x
  projects/o11y/terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/gke-lgtm-stack

x
  projects/core/terraform-submodules/gke-platform/main.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

feature: Kyverno
  .devcontainer/devcontainer.json
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
Due: test projects/core/docker-images/devcontainer, publish projects/core/docker-images/devcontainer

kyverno
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/assets/kyverno.yaml.tftpl
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

kyverno
  projects/core/terraform-submodules/gke-platform/.project.yaml
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

kyverno
  projects/core/terraform-modules/test/README.md
  projects/core/terraform-submodules/gke-platform/assets/kyverno_policies/disallow-host-path.yaml.tftpl
  projects/core/terraform-submodules/gke-platform/main.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

kyverno
  projects/core/terraform-submodules/gke-platform/assets/policy.disallow-host-path.yaml.tftpl
  projects/core/terraform-submodules/gke-platform/main.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

kyverno
  projects/core/terraform-modules/test/main.tf
Due: validate projects/core/terraform-modules/test, plan projects/core/terraform-modules/test, apply projects/core/terraform-modules/test

devcontainer version
  .github/workflow.yaml.gotmpl
  .github/workflows/dev-stop.yaml
  .github/workflows/projects-core-docker-images-devcontainer.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-rte.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-sdk.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-main.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-prod.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-project.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-redirect.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-route.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-platform.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-service-account.gotmpl.yaml
  .github/workflows/projects-demo-docker-images-kuard.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateful-kuard.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateless-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-modules-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-release.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-kuard.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-k8s-otel-collectors.gotmpl.yaml
  .github/workflows/test-bash.yaml
  .github/workflows/test-go.yaml
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
Due: none

velero pause
  scripts/boom
Due: none

scripts lib
  docs/09-external-resources.md
  scripts/boom
  scripts/dev
  scripts/docker-image
  scripts/ext
  scripts/helm-chart
  scripts/lib/changelog.bash
  scripts/lib/file.bash
  scripts/lib/git.bash
  scripts/lib/log.bash
  scripts/lib/semver.bash
  scripts/lib/str.bash
  scripts/render-bitbucket-pipelines
  scripts/render-github-workflows
  scripts/terraform-module
  scripts/terraform-submodule
Due: none

scale
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.grafana.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.loki.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.mimir-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.postgresql.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.tempo-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/scripts/scale
  scripts/ext
Due: test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/gke-lgtm-stack

scale
  docs/09-external-resources.md
  scripts/ext
Due: none

feature: reset external Helm charts values
  projects/core/terraform-submodules/gke-platform/helm/reset.cert-manager.yaml
  projects/core/terraform-submodules/gke-platform/helm/reset.kyverno.yaml
  projects/core/terraform-submodules/gke-platform/helm/reset.prometheus-operator-crds.yaml
  projects/core/terraform-submodules/gke-platform/helm/reset.velero.yaml
  projects/o11y/terraform-modules/test/helm/reset.base.yaml
  projects/o11y/terraform-modules/test/helm/reset.istiod.yaml
  projects/o11y/terraform-modules/test/helm/reset.opentelemetry-collector.yaml
  projects/o11y/terraform-modules/test/helm/reset.opentelemetry-operator.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.grafana.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.loki.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.mimir-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.postgresql.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/reset.tempo-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/scripts/scale
  scripts/ext
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack

reset
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/o11y/terraform-modules/test/assets/istio_base.yaml.tftpl
  projects/o11y/terraform-modules/test/assets/opentelemetry_operator.yaml.tftpl
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/assets/grafana_postgresql/values.yaml.tftpl
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack

reset
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack

reset
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
  projects/demo/helm-charts/stateful-kuard/templates/http-server.sts.yaml
  projects/demo/helm-charts/stateless-kuard/Chart.yaml
  projects/demo/helm-charts/stateless-kuard/templates/http-server.deploy.yaml
  scripts/ext
Due: none

reset
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
  scripts/ext
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack

reset
  projects/core/terraform-submodules/gke-platform/helm/values.cert-manager.yaml
  projects/core/terraform-submodules/gke-platform/helm/values.kyverno.yaml
  projects/core/terraform-submodules/gke-platform/helm/values.prometheus-operator-crds.yaml
  projects/core/terraform-submodules/gke-platform/helm/values.velero.yaml
  projects/o11y/terraform-modules/test/helm/values.base.yaml
  projects/o11y/terraform-modules/test/helm/values.istiod.yaml
  projects/o11y/terraform-modules/test/helm/values.opentelemetry-collector.yaml
  projects/o11y/terraform-modules/test/helm/values.opentelemetry-operator.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values.grafana.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values.loki.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values.mimir-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values.postgresql.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values.tempo-distributed.yaml
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack

reset
  projects/core/terraform-submodules/gke-platform/assets/kyverno.yaml.tftpl
  projects/core/terraform-submodules/gke-platform/helm/values.kyverno.yaml
  scripts/ext
  scripts/lib/str.bash
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

reset
  projects/o11y/terraform-modules/test/assets/istio_discovery.yaml.tftpl
  projects/o11y/terraform-modules/test/helm/values.istiod.yaml
Due: none

reset
  projects/core/terraform-submodules/gke-platform/helm/values/cert-manager.yaml
  projects/core/terraform-submodules/gke-platform/helm/values/kyverno.yaml
  projects/core/terraform-submodules/gke-platform/helm/values/prometheus-operator-crds.yaml
  projects/core/terraform-submodules/gke-platform/helm/values/velero.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/o11y/terraform-modules/test/helm/values/base.yaml
  projects/o11y/terraform-modules/test/helm/values/istiod.yaml
  projects/o11y/terraform-modules/test/helm/values/opentelemetry-collector.yaml
  projects/o11y/terraform-modules/test/helm/values/opentelemetry-operator.yaml
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/grafana.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/loki.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/mimir-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/postgresql.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/tempo-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
  scripts/ext
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack

reset
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
  projects/demo/helm-charts/stateful-kuard/templates/http-server.sts.yaml
  projects/demo/helm-charts/stateless-kuard/Chart.yaml
Due: none

reset
  projects/o11y/terraform-submodules/k8s-otel-collectors/main.tf
Due: test projects/o11y/terraform-submodules/k8s-otel-collectors, publish projects/o11y/terraform-submodules/k8s-otel-collectors

reset
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
Due: test projects/o11y/terraform-submodules/k8s-otel-collectors, publish projects/o11y/terraform-submodules/k8s-otel-collectors

reset
  projects/o11y/terraform-modules/test/assets/istio_discovery.yaml.tftpl
Due: none
