Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test projects/core/docker-images/devcontainer, test projects/core/docker-images/go-rte, test projects/core/docker-images/go-sdk, validate projects/core/terraform-modules/main, validate projects/core/terraform-modules/prod, validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gcp-docker-images-registry, test projects/core/terraform-submodules/gcp-helm-charts-registry, test projects/core/terraform-submodules/gcp-project, test projects/core/terraform-submodules/gcp-terraform-modules-registry, test projects/core/terraform-submodules/gcp-terraform-state-bucket, test projects/core/terraform-submodules/gke-gateway-redirect, test projects/core/terraform-submodules/gke-gateway-route, test projects/core/terraform-submodules/gke-platform, test projects/core/terraform-submodules/gke-service-account, test projects/kuard/docker-images/kuard, test projects/kuard/helm-charts/stateful-kuard, test projects/kuard/helm-charts/stateless-kuard, validate projects/kuard/terraform-modules/kuard, test projects/kuard/terraform-submodules/helm-release, test projects/kuard/terraform-submodules/kuard, validate projects/o11y/terraform-modules/test-monitor, test projects/o11y/terraform-submodules/gcp-availability-monitor, test projects/o11y/terraform-submodules/gke-lgtm-stack, test projects/o11y/terraform-submodules/k8s-otel-collectors, plan projects/core/terraform-modules/main, plan projects/core/terraform-modules/prod, plan projects/core/terraform-modules/test, plan projects/kuard/terraform-modules/kuard, plan projects/o11y/terraform-modules/test-monitor, publish projects/core/docker-images/devcontainer, publish projects/core/docker-images/go-rte, publish projects/core/docker-images/go-sdk, publish projects/core/terraform-submodules/gcp-docker-images-registry, publish projects/core/terraform-submodules/gcp-helm-charts-registry, publish projects/core/terraform-submodules/gcp-project, publish projects/core/terraform-submodules/gcp-terraform-modules-registry, publish projects/core/terraform-submodules/gcp-terraform-state-bucket, publish projects/core/terraform-submodules/gke-gateway-redirect, publish projects/core/terraform-submodules/gke-gateway-route, publish projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-service-account, publish projects/kuard/docker-images/kuard, publish projects/kuard/helm-charts/stateful-kuard, publish projects/kuard/helm-charts/stateless-kuard, publish projects/kuard/terraform-submodules/helm-release, publish projects/kuard/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/gcp-availability-monitor, publish projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/k8s-otel-collectors, apply projects/core/terraform-modules/main, apply projects/core/terraform-modules/prod, apply projects/core/terraform-modules/test, apply projects/kuard/terraform-modules/kuard, apply projects/o11y/terraform-modules/test-monitor

test projects/core/docker-images/devcontainer:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test projects/core/docker-images/go-rte:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test projects/core/docker-images/go-sdk:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

validate projects/core/terraform-modules/main:
  caches:
  - projects-core-terraform-modules-main
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

validate projects/core/terraform-modules/prod:
  caches:
  - projects-core-terraform-modules-prod
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

validate projects/core/terraform-modules/test:
  caches:
  - projects-core-terraform-modules-test
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test projects/core/terraform-submodules/gcp-docker-images-registry:
  caches:
  - projects-core-terraform-submodules-gcp-docker-images-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test projects/core/terraform-submodules/gcp-helm-charts-registry:
  caches:
  - projects-core-terraform-submodules-gcp-helm-charts-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test projects/core/terraform-submodules/gcp-project:
  caches:
  - projects-core-terraform-submodules-gcp-project
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test projects/core/terraform-submodules/gcp-terraform-modules-registry:
  caches:
  - projects-core-terraform-submodules-gcp-terraform-modules-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

feature: google oauth2
  projects/demo/terraform-submodules/kuard/main.tf
Due: none

feature: google oauth2
  docs/google-oauth2/test.bash
Due: none

oauth2
  docs/google-oauth2/notes.md
  docs/google-oauth2/screenshots/01.png
  docs/google-oauth2/screenshots/02.png
  docs/google-oauth2/screenshots/03.png
  docs/google-oauth2/screenshots/11.png
  docs/google-oauth2/screenshots/21.png
  docs/google-oauth2/screenshots/31.png
  docs/google-oauth2/test2.bash
  projects/demo/terraform-submodules/kuard/assets/stateless_kuard_oauth2_proxy.yaml.tftpl
  projects/demo/terraform-submodules/kuard/main.tf
  projects/demo/terraform-submodules/kuard/stateless_kuard.tf
Due: none

feature: oauth2
  projects/demo/terraform-submodules/kuard/main.tf
  test.bash
Due: none

feature: oauth2
  projects/demo/terraform-submodules/kuard/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
  projects/o11y/terraform-submodules/k8s-istio-auth/.project.yaml
  projects/o11y/terraform-submodules/k8s-istio-auth/CHANGELOG.md
  projects/o11y/terraform-submodules/k8s-istio-auth/README.md
  projects/o11y/terraform-submodules/k8s-istio-auth/main.tf
  projects/o11y/terraform-submodules/k8s-istio-auth/terraform.tf
  projects/o11y/terraform-submodules/k8s-istio-auth/variables.tf
Due: test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/gke-lgtm-stack

oauth2
  .github/workflows/projects-o11y-terraform-submodules-k8s-istio-auth.gotmpl.yaml
  bitbucket-pipelines.yml
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
Due: test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/gke-lgtm-stack

feature: oauth2
  projects/o11y/terraform-modules/test/README.md
  projects/o11y/terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/gke-lgtm-stack

feature: oauth2
  projects/o11y/terraform-submodules/k8s-istio-auth/main.tf
  test.bash
Due: none

feature: kuard http-tests with Go
  go.work
  projects/demo/go-modules/kuard-tests/go.mod
  projects/demo/go-modules/kuard-tests/go.sum
Due: none

feature: oauth2-proxy
  docs/oauth2-proxy/notes.md
  docs/oauth2-proxy/screenshots/01.png
  docs/oauth2-proxy/screenshots/02.png
  docs/oauth2-proxy/screenshots/03.png
  docs/oauth2-proxy/screenshots/11.png
  docs/oauth2-proxy/screenshots/21.png
  docs/oauth2-proxy/screenshots/31.png
Due: none

feature: oauth2-proxy
  docs/oauth2-proxy/notes.md
  docs/oauth2-proxy/test.bash
Due: none

feature: oauth2-proxy
  docs/oauth2-proxy/notes.md
  docs/oauth2-proxy/test.bash
  projects/demo/terraform-submodules/kuard/main.tf
  projects/o11y/terraform-modules/test/assets/istio_discovery.yaml.tftpl
  projects/o11y/terraform-modules/test/assets/stateless_kuard_oauth2_proxy.cfg.tftpl
  projects/o11y/terraform-modules/test/assets/stateless_kuard_oauth2_proxy.yaml.tftpl
  projects/o11y/terraform-modules/test/main.tf
Due: none

feature: oauth2-proxy
  projects/o11y/terraform-modules/test/assets/stateless_kuard_oauth2_proxy.cfg.tftpl
Due: none

refactor: move external helm charts
  .gitattributes
  .github/workflows/external-helm-charts.yaml
  .gitignore
  .vscode/settings.json
  docs/10-platform.md
  docs/external-helm-charts.md
  projects/core/terraform-modules/main/main.tf
  projects/core/terraform-modules/main/outputs.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/scripts/scale
  scripts/external-helm-charts
Due: validate projects/core/terraform-modules/main, test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, plan projects/core/terraform-modules/main, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack, apply projects/core/terraform-modules/main

refactor: move external helm charts
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/demo/terraform-submodules/helm-release/.project.yaml
  projects/demo/terraform-submodules/helm-release/main.tf
  projects/demo/terraform-submodules/helm-release/variables.tf
  projects/demo/terraform-submodules/kuard/main.tf
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack

refactor: move external helm charts
  docs/09-external-resources.md
  scripts/ext
Due: none

refactor: move external helm charts
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack

refactor: move external helm charts
  .gitattributes
Due: none

velero
  .devcontainer/devcontainer.json
Due: none

velero
  projects/core/terraform-submodules/gke-platform/assets/velero.yaml.tftpl
  projects/core/terraform-submodules/gke-platform/locals.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

velero
  projects/core/terraform-submodules/gke-platform/main.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

boom
  docs/19-disaster-recovery.md
  projects/core/terraform-submodules/gke-platform/main.tf
  scripts/boom
  scripts/libs/log.bash
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

boom
  scripts/boom
Due: none

boom
  projects/core/terraform-submodules/gke-platform/main.tf
  scripts/boom
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

fix: update devcontainer version
  .github/workflow.yaml.gotmpl
  .github/workflows/dev-stop.yaml
  .github/workflows/projects-core-docker-images-devcontainer.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-rte.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-sdk.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-main.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-prod.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-project.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-redirect.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-route.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-platform.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-service-account.gotmpl.yaml
  .github/workflows/projects-demo-docker-images-kuard.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateful-kuard.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateless-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-modules-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-release.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-kuard.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-k8s-otel-collectors.gotmpl.yaml
  .github/workflows/test-bash.yaml
  .github/workflows/test-go.yaml
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
Due: none

feature: DNSSEC
  projects/core/terraform-modules/test/outputs.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/outputs.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

dig
  .devcontainer/devcontainer.json
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
Due: test projects/core/docker-images/devcontainer, publish projects/core/docker-images/devcontainer

Path conditions:
  test projects/core/docker-images/devcontainer: any of: projects/core/docker-images/devcontainer/**
  test projects/core/docker-images/go-rte: any of: projects/core/docker-images/go-rte/**
  test projects/core/docker-images/go-sdk: any of: projects/core/docker-images/go-sdk/**
  validate projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  validate projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  validate projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  test projects/core/terraform-submodules/gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test projects/core/terraform-submodules/gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test projects/core/terraform-submodules/gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test projects/core/terraform-submodules/gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test projects/core/terraform-submodules/gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test projects/core/terraform-submodules/gke-gateway-redirect: any of: projects/core/terraform-submodules/gke-gateway-redirect/**
  test projects/core/terraform-submodules/gke-gateway-route: any of: projects/core/terraform-submodules/gke-gateway-route/**
  test projects/core/terraform-submodules/gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test projects/core/terraform-submodules/gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test projects/kuard/docker-images/kuard: any of: projects/kuard/docker-images/kuard/**
  test projects/kuard/helm-charts/stateful-kuard: any of: projects/kuard/helm-charts/stateful-kuard/**
  test projects/kuard/helm-charts/stateless-kuard: any of: projects/kuard/helm-charts/stateless-kuard/**
  validate projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  test projects/kuard/terraform-submodules/helm-release: any of: projects/kuard/terraform-submodules/helm-release/**
  test projects/kuard/terraform-submodules/kuard: any of: projects/kuard/terraform-submodules/kuard/**
  validate projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**
  test projects/o11y/terraform-submodules/gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test projects/o11y/terraform-submodules/gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test projects/o11y/terraform-submodules/k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  plan projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  plan projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  plan projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  plan projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  plan projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**
  publish projects/core/docker-images/devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish projects/core/docker-images/go-rte: any of: projects/core/docker-images/go-rte/**
  publish projects/core/docker-images/go-sdk: any of: projects/core/docker-images/go-sdk/**
  publish projects/core/terraform-submodules/gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish projects/core/terraform-submodules/gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish projects/core/terraform-submodules/gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish projects/core/terraform-submodules/gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish projects/core/terraform-submodules/gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish projects/core/terraform-submodules/gke-gateway-redirect: any of: projects/core/terraform-submodules/gke-gateway-redirect/**
  publish projects/core/terraform-submodules/gke-gateway-route: any of: projects/core/terraform-submodules/gke-gateway-route/**
  publish projects/core/terraform-submodules/gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish projects/core/terraform-submodules/gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish projects/kuard/docker-images/kuard: any of: projects/kuard/docker-images/kuard/**
  publish projects/kuard/helm-charts/stateful-kuard: any of: projects/kuard/helm-charts/stateful-kuard/**
  publish projects/kuard/helm-charts/stateless-kuard: any of: projects/kuard/helm-charts/stateless-kuard/**
  publish projects/kuard/terraform-submodules/helm-release: any of: projects/kuard/terraform-submodules/helm-release/**
  publish projects/kuard/terraform-submodules/kuard: any of: projects/kuard/terraform-submodules/kuard/**
  publish projects/o11y/terraform-submodules/gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish projects/o11y/terraform-submodules/gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish projects/o11y/terraform-submodules/k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  apply projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  apply projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  apply projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  apply projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  apply projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**
