Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test projects/core/docker-images/devcontainer, test projects/core/docker-images/go-rte, test projects/core/docker-images/go-sdk, validate projects/core/terraform-modules/main, validate projects/core/terraform-modules/prod, validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gcp-docker-images-registry, test projects/core/terraform-submodules/gcp-helm-charts-registry, test projects/core/terraform-submodules/gcp-project, test projects/core/terraform-submodules/gcp-terraform-modules-registry, test projects/core/terraform-submodules/gcp-terraform-state-bucket, test projects/core/terraform-submodules/gke-gateway-redirect, test projects/core/terraform-submodules/gke-gateway-route, test projects/core/terraform-submodules/gke-platform, test projects/core/terraform-submodules/gke-service-account, test projects/demo/docker-images/kuard, test projects/demo/helm-charts/stateful-kuard, test projects/demo/helm-charts/stateless-kuard, validate projects/demo/terraform-modules/kuard, test projects/demo/terraform-submodules/helm-manifest, test projects/demo/terraform-submodules/helm-template, test projects/demo/terraform-submodules/kuard, validate projects/o11y/terraform-modules/test, test projects/o11y/terraform-submodules/gcp-availability-monitor, test projects/o11y/terraform-submodules/gke-lgtm-stack, test projects/o11y/terraform-submodules/k8s-otel-collectors, plan projects/core/terraform-modules/main, plan projects/core/terraform-modules/prod, plan projects/core/terraform-modules/test, plan projects/demo/terraform-modules/kuard, plan projects/o11y/terraform-modules/test, publish projects/core/docker-images/devcontainer, publish projects/core/docker-images/go-rte, publish projects/core/docker-images/go-sdk, publish projects/core/terraform-submodules/gcp-docker-images-registry, publish projects/core/terraform-submodules/gcp-helm-charts-registry, publish projects/core/terraform-submodules/gcp-project, publish projects/core/terraform-submodules/gcp-terraform-modules-registry, publish projects/core/terraform-submodules/gcp-terraform-state-bucket, publish projects/core/terraform-submodules/gke-gateway-redirect, publish projects/core/terraform-submodules/gke-gateway-route, publish projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-service-account, publish projects/demo/docker-images/kuard, publish projects/demo/helm-charts/stateful-kuard, publish projects/demo/helm-charts/stateless-kuard, publish projects/demo/terraform-submodules/helm-manifest, publish projects/demo/terraform-submodules/helm-template, publish projects/demo/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/gcp-availability-monitor, publish projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/k8s-otel-collectors, apply projects/core/terraform-modules/main, apply projects/core/terraform-modules/prod, apply projects/core/terraform-modules/test, apply projects/demo/terraform-modules/kuard, apply projects/o11y/terraform-modules/test

Path conditions:
  test projects/core/docker-images/devcontainer: any of: projects/core/docker-images/devcontainer/**
  test projects/core/docker-images/go-rte: any of: projects/core/docker-images/go-rte/**
  test projects/core/docker-images/go-sdk: any of: projects/core/docker-images/go-sdk/**
  validate projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  validate projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  validate projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  test projects/core/terraform-submodules/gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test projects/core/terraform-submodules/gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test projects/core/terraform-submodules/gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test projects/core/terraform-submodules/gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test projects/core/terraform-submodules/gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test projects/core/terraform-submodules/gke-gateway-redirect: any of: projects/core/terraform-submodules/gke-gateway-redirect/**
  test projects/core/terraform-submodules/gke-gateway-route: any of: projects/core/terraform-submodules/gke-gateway-route/**
  test projects/core/terraform-submodules/gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test projects/core/terraform-submodules/gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test projects/demo/docker-images/kuard: any of: projects/demo/docker-images/kuard/**
  test projects/demo/helm-charts/stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  test projects/demo/helm-charts/stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  validate projects/demo/terraform-modules/kuard: any of: projects/demo/terraform-modules/kuard/**
  test projects/demo/terraform-submodules/helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  test projects/demo/terraform-submodules/helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  test projects/demo/terraform-submodules/kuard: any of: projects/demo/terraform-submodules/kuard/**
  validate projects/o11y/terraform-modules/test: any of: projects/o11y/terraform-modules/test/**
  test projects/o11y/terraform-submodules/gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test projects/o11y/terraform-submodules/gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test projects/o11y/terraform-submodules/k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  plan projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  plan projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  plan projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  plan projects/demo/terraform-modules/kuard: any of: projects/demo/terraform-modules/kuard/**
  plan projects/o11y/terraform-modules/test: any of: projects/o11y/terraform-modules/test/**
  publish projects/core/docker-images/devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish projects/core/docker-images/go-rte: any of: projects/core/docker-images/go-rte/**
  publish projects/core/docker-images/go-sdk: any of: projects/core/docker-images/go-sdk/**
  publish projects/core/terraform-submodules/gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish projects/core/terraform-submodules/gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish projects/core/terraform-submodules/gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish projects/core/terraform-submodules/gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish projects/core/terraform-submodules/gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish projects/core/terraform-submodules/gke-gateway-redirect: any of: projects/core/terraform-submodules/gke-gateway-redirect/**
  publish projects/core/terraform-submodules/gke-gateway-route: any of: projects/core/terraform-submodules/gke-gateway-route/**
  publish projects/core/terraform-submodules/gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish projects/core/terraform-submodules/gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish projects/demo/docker-images/kuard: any of: projects/demo/docker-images/kuard/**
  publish projects/demo/helm-charts/stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  publish projects/demo/helm-charts/stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  publish projects/demo/terraform-submodules/helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  publish projects/demo/terraform-submodules/helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  publish projects/demo/terraform-submodules/kuard: any of: projects/demo/terraform-submodules/kuard/**
  publish projects/o11y/terraform-submodules/gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish projects/o11y/terraform-submodules/gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish projects/o11y/terraform-submodules/k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  apply projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  apply projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  apply projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  apply projects/demo/terraform-modules/kuard: any of: projects/demo/terraform-modules/kuard/**
  apply projects/o11y/terraform-modules/test: any of: projects/o11y/terraform-modules/test/**

pss
  docs/decisions/0002-pod-security.md
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-modules/test/providers.tf
  projects/core/terraform-submodules/gke-workspace/.project.yaml
  projects/core/terraform-submodules/gke-workspace/main.tf
  projects/core/terraform-submodules/gke-workspace/outputs.tf
  projects/core/terraform-submodules/gke-workspace/variables.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: validate projects/core/terraform-modules/test, test projects/o11y/terraform-submodules/gke-lgtm-stack, plan projects/core/terraform-modules/test, publish projects/o11y/terraform-submodules/gke-lgtm-stack, apply projects/core/terraform-modules/test

fix: kuard workspace
  docs/11-secrets.md
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
  projects/demo/helm-charts/stateful-kuard/templates/http-server.sts.yaml
  projects/demo/helm-charts/stateful-kuard/values.yaml
  projects/demo/helm-charts/stateless-kuard/Chart.yaml
  projects/demo/helm-charts/stateless-kuard/templates/http-server.deploy.yaml
  projects/demo/helm-charts/stateless-kuard/values.yaml
  projects/demo/terraform-modules/kuard/main.tf
  projects/demo/terraform-modules/kuard/providers.tf
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/demo/terraform-submodules/kuard/assets/values.yaml.tftpl
  projects/demo/terraform-submodules/kuard/locals.tf
  projects/demo/terraform-submodules/kuard/main.tf
  projects/demo/terraform-submodules/kuard/variables.tf
Due: test projects/demo/helm-charts/stateful-kuard, test projects/demo/helm-charts/stateless-kuard, validate projects/demo/terraform-modules/kuard, test projects/demo/terraform-submodules/kuard, plan projects/demo/terraform-modules/kuard, publish projects/demo/helm-charts/stateful-kuard, publish projects/demo/helm-charts/stateless-kuard, publish projects/demo/terraform-submodules/kuard, apply projects/demo/terraform-modules/kuard

ambient
  docs/decisions/0002-pod-security.md
  projects/demo/terraform-submodules/kuard/main.tf
Due: test projects/demo/terraform-submodules/kuard, publish projects/demo/terraform-submodules/kuard

refactor: OpenTelemetry excluded logs
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/assets/kyverno.yaml.tftpl
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/k8s-otel-collectors, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/k8s-otel-collectors

adr
  docs/decisions/0002-pod-security.md
Due: none

x
  projects/o11y/terraform-modules/test/assets/istio_cni.yaml.tftpl
  projects/o11y/terraform-modules/test/assets/istio_discovery.yaml.tftpl
  projects/o11y/terraform-modules/test/helm/Chart.lock
  projects/o11y/terraform-modules/test/helm/Chart.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/Chart.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/README.md
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-ambient.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-compatibility-version-1.22.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-compatibility-version-1.23.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-compatibility-version-1.24.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-demo.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-platform-gke.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-platform-k3d.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-platform-k3s.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-platform-microk8s.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-platform-minikube.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-platform-openshift.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-preview.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-remote.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/files/profile-stable.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/NOTES.txt
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/_helpers.tpl
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/clusterrole.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/clusterrolebinding.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/configmap-cni.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/daemonset.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/network-attachment-definition.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/resourcequota.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/serviceaccount.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/zzy_descope_legacy.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/templates/zzz_profile.yaml
  projects/o11y/terraform-modules/test/helm/charts/cni/values.yaml
  projects/o11y/terraform-modules/test/helm/values/cni.yaml
  projects/o11y/terraform-modules/test/helm/values/istiod.yaml
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
Due: validate projects/o11y/terraform-modules/test, test projects/o11y/terraform-submodules/k8s-otel-collectors, plan projects/o11y/terraform-modules/test, publish projects/o11y/terraform-submodules/k8s-otel-collectors, apply projects/o11y/terraform-modules/test

refactor: kuard workspace and vault
  docs/11-secrets.md
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
  projects/demo/helm-charts/stateful-kuard/templates/http-server.sts.yaml
  projects/demo/helm-charts/stateful-kuard/values.yaml
  projects/demo/helm-charts/stateless-kuard/Chart.yaml
  projects/demo/helm-charts/stateless-kuard/templates/http-server.deploy.yaml
  projects/demo/helm-charts/stateless-kuard/values.yaml
  projects/demo/terraform-modules/kuard/main.tf
  projects/demo/terraform-modules/kuard/providers.tf
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/demo/terraform-submodules/kuard/assets/values.yaml.tftpl
  projects/demo/terraform-submodules/kuard/locals.tf
  projects/demo/terraform-submodules/kuard/main.tf
  projects/demo/terraform-submodules/kuard/variables.tf
Due: test projects/demo/helm-charts/stateful-kuard, test projects/demo/helm-charts/stateless-kuard, validate projects/demo/terraform-modules/kuard, test projects/demo/terraform-submodules/kuard, plan projects/demo/terraform-modules/kuard, publish projects/demo/helm-charts/stateful-kuard, publish projects/demo/helm-charts/stateless-kuard, publish projects/demo/terraform-submodules/kuard, apply projects/demo/terraform-modules/kuard

refactor: rm OpenTelemetry auto-instrumentation
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
  projects/demo/helm-charts/stateful-kuard/templates/http-server.sts.yaml
  projects/demo/helm-charts/stateless-kuard/Chart.yaml
  projects/demo/helm-charts/stateless-kuard/templates/http-server.deploy.yaml
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/demo/terraform-submodules/kuard/assets/values.yaml.tftpl
  projects/o11y/terraform-modules/test/assets/opentelemetry_operator.yaml.tftpl
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/main.tf
Due: test projects/demo/helm-charts/stateful-kuard, test projects/demo/helm-charts/stateless-kuard, test projects/demo/terraform-submodules/kuard, validate projects/o11y/terraform-modules/test, test projects/o11y/terraform-submodules/k8s-otel-collectors, plan projects/o11y/terraform-modules/test, publish projects/demo/helm-charts/stateful-kuard, publish projects/demo/helm-charts/stateless-kuard, publish projects/demo/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/k8s-otel-collectors, apply projects/o11y/terraform-modules/test

fix: Istio service mesh
  docs/decisions/0002-pod-security.md
  projects/demo/terraform-submodules/kuard/main.tf
  projects/o11y/terraform-modules/test/helm/values/istiod.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
Due: test projects/demo/terraform-submodules/kuard, validate projects/o11y/terraform-modules/test, test projects/o11y/terraform-submodules/k8s-otel-collectors, plan projects/o11y/terraform-modules/test, publish projects/demo/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/k8s-otel-collectors, apply projects/o11y/terraform-modules/test

istio
  projects/demo/terraform-submodules/kuard/.project.yaml
Due: test projects/demo/terraform-submodules/kuard, publish projects/demo/terraform-submodules/kuard

charts
  projects/o11y/terraform-modules/test/helm/Chart.lock
  projects/o11y/terraform-modules/test/helm/Chart.yaml
  projects/o11y/terraform-modules/test/helm/charts/base/Chart.yaml
  projects/o11y/terraform-modules/test/helm/charts/base/files/crd-all.gen.yaml
  projects/o11y/terraform-modules/test/helm/charts/istiod/Chart.yaml
  projects/o11y/terraform-modules/test/helm/charts/istiod/values.yaml
Due: validate projects/o11y/terraform-modules/test, plan projects/o11y/terraform-modules/test, apply projects/o11y/terraform-modules/test

istio
  projects/o11y/terraform-modules/test/assets/istio_cni.yaml.tftpl
  projects/o11y/terraform-modules/test/assets/istio_discovery.yaml.tftpl
  projects/o11y/terraform-modules/test/helm/Chart.lock
  projects/o11y/terraform-modules/test/helm/Chart.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/Chart.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/README.md
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-ambient.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-compatibility-version-1.22.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-compatibility-version-1.23.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-compatibility-version-1.24.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-demo.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-platform-gke.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-platform-k3d.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-platform-k3s.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-platform-microk8s.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-platform-minikube.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-platform-openshift.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-preview.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-remote.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/files/profile-stable.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/templates/NOTES.txt
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/templates/_helpers.tpl
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/templates/daemonset.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/templates/rbac.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/templates/zzz_profile.yaml
  projects/o11y/terraform-modules/test/helm/charts/ztunnel/values.yaml
  projects/o11y/terraform-modules/test/helm/values/ztunnel.yaml
  projects/o11y/terraform-modules/test/main.tf
Due: validate projects/o11y/terraform-modules/test, plan projects/o11y/terraform-modules/test, apply projects/o11y/terraform-modules/test

refactor: remove unnecessary google providers
  .gitattributes
  docs/decisions/0001-network-tier/premium-network-tier.tf
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-gateway-redirect/.project.yaml
  projects/core/terraform-submodules/gke-gateway-redirect/terraform.tf
  projects/core/terraform-submodules/gke-gateway-route/.project.yaml
  projects/core/terraform-submodules/gke-gateway-route/terraform.tf
  projects/core/terraform-submodules/gke-vault/.project.yaml
  projects/core/terraform-submodules/gke-vault/terraform.tf
  projects/core/terraform-submodules/gke-workspace/.project.yaml
  projects/core/terraform-submodules/gke-workspace/terraform.tf
  projects/demo/terraform-modules/kuard/main.tf
  projects/demo/terraform-submodules/kuard/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-gateway-redirect, test projects/core/terraform-submodules/gke-gateway-route, validate projects/demo/terraform-modules/kuard, test projects/demo/terraform-submodules/kuard, test projects/o11y/terraform-submodules/gke-lgtm-stack, plan projects/core/terraform-modules/test, plan projects/demo/terraform-modules/kuard, publish projects/core/terraform-submodules/gke-gateway-redirect, publish projects/core/terraform-submodules/gke-gateway-route, publish projects/demo/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/gke-lgtm-stack, apply projects/core/terraform-modules/test, apply projects/demo/terraform-modules/kuard

rm
  projects/core/terraform-submodules/k8s-gateway-redirect/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-redirect/CHANGELOG.md
  projects/core/terraform-submodules/k8s-gateway-redirect/README.md
  projects/core/terraform-submodules/k8s-gateway-redirect/main.tf
  projects/core/terraform-submodules/k8s-gateway-redirect/terraform.tf
  projects/core/terraform-submodules/k8s-gateway-redirect/variables.tf
  projects/core/terraform-submodules/k8s-gateway-route/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-route/CHANGELOG.md
  projects/core/terraform-submodules/k8s-gateway-route/README.md
  projects/core/terraform-submodules/k8s-gateway-route/main.tf
  projects/core/terraform-submodules/k8s-gateway-route/terraform.tf
  projects/core/terraform-submodules/k8s-gateway-route/variables.tf
  projects/core/terraform-submodules/k8s-vault/.project.yaml
  projects/core/terraform-submodules/k8s-vault/CHANGELOG.md
  projects/core/terraform-submodules/k8s-vault/README.md
  projects/core/terraform-submodules/k8s-vault/main.tf
  projects/core/terraform-submodules/k8s-vault/terraform.tf
  projects/core/terraform-submodules/k8s-vault/variables.tf
  projects/core/terraform-submodules/k8s-workspace/.project.yaml
  projects/core/terraform-submodules/k8s-workspace/CHANGELOG.md
  projects/core/terraform-submodules/k8s-workspace/README.md
  projects/core/terraform-submodules/k8s-workspace/main.tf
  projects/core/terraform-submodules/k8s-workspace/outputs.tf
  projects/core/terraform-submodules/k8s-workspace/terraform.tf
  projects/core/terraform-submodules/k8s-workspace/variables.tf
Due: none

providers
  .github/workflows/workflow.core-tfsub-gke-gateway-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-gateway-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-workspace.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-vault.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-workspace.gotmpl.yaml
  bitbucket-pipelines.yml
Due: none

providers
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
Due: test projects/demo/terraform-submodules/kuard, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/demo/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/gke-lgtm-stack

refactor: gke gateway redirect names
  docs/decisions/0001-network-tier/premium-network-tier.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/CHANGELOG.md
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/README.md
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/main.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/terraform.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/variables.tf
  projects/core/terraform-submodules/k8s-gateway-http-route/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-http-route/CHANGELOG.md
  projects/core/terraform-submodules/k8s-gateway-http-route/README.md
  projects/core/terraform-submodules/k8s-gateway-http-route/main.tf
  projects/core/terraform-submodules/k8s-gateway-http-route/terraform.tf
  projects/core/terraform-submodules/k8s-gateway-http-route/variables.tf
  projects/core/terraform-submodules/k8s-gateway-redirect/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-route/.project.yaml
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/demo/terraform-submodules/kuard/main.tf
  projects/demo/terraform-submodules/kuard/moved.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/moved.tf
Due: test projects/demo/terraform-submodules/kuard, test projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/demo/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/gke-lgtm-stack

redirect
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/main.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

redirect
  .github/workflows/workflow.core-tfsub-k8s-gateway-domain-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-http-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-route.gotmpl.yaml
  bitbucket-pipelines.yml
Due: none

redirect
  projects/core/terraform-submodules/gke-platform/.project.yaml
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

feature: autoupdate changelog headers
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/CHANGELOG.md
  scripts/docker-image
  scripts/helm-chart
  scripts/lib/changelog.bash
  scripts/lib/git.bash
  scripts/terraform-submodule
Due: test projects/core/docker-images/devcontainer, publish projects/core/docker-images/devcontainer

changelog
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/CHANGELOG.md
  projects/demo/helm-charts/stateful-kuard/CHANGELOG.md
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
Due: test projects/core/docker-images/devcontainer, test projects/demo/helm-charts/stateful-kuard, publish projects/core/docker-images/devcontainer, publish projects/demo/helm-charts/stateful-kuard

changelog
  .github/workflow.yaml.gotmpl
  .github/workflows/dev-stop.yaml
  .github/workflows/test-bash.yaml
  .github/workflows/test-go.yaml
  .github/workflows/workflow.core-image-devcontainer.gotmpl.yaml
  .github/workflows/workflow.core-image-go-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-go-sdk.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-main.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-prod.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-project.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-platform.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-service-account.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-domain-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-http-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-vault.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-workspace.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateful-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateless-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-gomod-kuard-tester.gotmpl.yaml
  .github/workflows/workflow.demo-image-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfmod-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-manifest.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-template.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-kuard.gotmpl.yaml
  .github/workflows/workflow.o11y-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-otel-collectors.gotmpl.yaml
  scripts/lib/git.bash
Due: none

changelog
  scripts/lib/git.bash
Due: none

changelog
  .github/workflow.yaml.gotmpl
  .github/workflows/dev-stop.yaml
  .github/workflows/test-bash.yaml
  .github/workflows/test-go.yaml
  .github/workflows/workflow.core-image-devcontainer.gotmpl.yaml
  .github/workflows/workflow.core-image-go-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-go-sdk.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-main.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-prod.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-project.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-platform.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-service-account.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-domain-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-http-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-vault.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-workspace.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateful-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateless-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-gomod-kuard-tester.gotmpl.yaml
  .github/workflows/workflow.demo-image-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfmod-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-manifest.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-template.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-kuard.gotmpl.yaml
  .github/workflows/workflow.o11y-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-otel-collectors.gotmpl.yaml
Due: none

chore: update projects/demo/helm-charts/stateful-kuard/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/demo/helm-charts/stateful-kuard/CHANGELOG.md
Due: test projects/demo/helm-charts/stateful-kuard, publish projects/demo/helm-charts/stateful-kuard
