Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test projects/core/docker-images/devcontainer, test projects/core/docker-images/go-rte, test projects/core/docker-images/go-sdk, validate projects/core/terraform-modules/main, validate projects/core/terraform-modules/prod, validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gcp-docker-images-registry, test projects/core/terraform-submodules/gcp-helm-charts-registry, test projects/core/terraform-submodules/gcp-project, test projects/core/terraform-submodules/gcp-terraform-modules-registry, test projects/core/terraform-submodules/gcp-terraform-state-bucket, test projects/core/terraform-submodules/gke-gateway-redirect, test projects/core/terraform-submodules/gke-gateway-route, test projects/core/terraform-submodules/gke-platform, test projects/core/terraform-submodules/gke-service-account, test projects/kuard/docker-images/kuard, test projects/kuard/helm-charts/stateful-kuard, test projects/kuard/helm-charts/stateless-kuard, validate projects/kuard/terraform-modules/kuard, test projects/kuard/terraform-submodules/helm-release, test projects/kuard/terraform-submodules/kuard, validate projects/o11y/terraform-modules/test-monitor, test projects/o11y/terraform-submodules/gcp-availability-monitor, test projects/o11y/terraform-submodules/gke-lgtm-stack, test projects/o11y/terraform-submodules/k8s-otel-collectors, plan projects/core/terraform-modules/main, plan projects/core/terraform-modules/prod, plan projects/core/terraform-modules/test, plan projects/kuard/terraform-modules/kuard, plan projects/o11y/terraform-modules/test-monitor, publish projects/core/docker-images/devcontainer, publish projects/core/docker-images/go-rte, publish projects/core/docker-images/go-sdk, publish projects/core/terraform-submodules/gcp-docker-images-registry, publish projects/core/terraform-submodules/gcp-helm-charts-registry, publish projects/core/terraform-submodules/gcp-project, publish projects/core/terraform-submodules/gcp-terraform-modules-registry, publish projects/core/terraform-submodules/gcp-terraform-state-bucket, publish projects/core/terraform-submodules/gke-gateway-redirect, publish projects/core/terraform-submodules/gke-gateway-route, publish projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-service-account, publish projects/kuard/docker-images/kuard, publish projects/kuard/helm-charts/stateful-kuard, publish projects/kuard/helm-charts/stateless-kuard, publish projects/kuard/terraform-submodules/helm-release, publish projects/kuard/terraform-submodules/kuard, publish projects/o11y/terraform-submodules/gcp-availability-monitor, publish projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/k8s-otel-collectors, apply projects/core/terraform-modules/main, apply projects/core/terraform-modules/prod, apply projects/core/terraform-modules/test, apply projects/kuard/terraform-modules/kuard, apply projects/o11y/terraform-modules/test-monitor

test projects/core/docker-images/devcontainer:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test projects/core/docker-images/go-rte:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test projects/core/docker-images/go-sdk:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

validate projects/core/terraform-modules/main:
  caches:
  - projects-core-terraform-modules-main
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

validate projects/core/terraform-modules/prod:
  caches:
  - projects-core-terraform-modules-prod
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

validate projects/core/terraform-modules/test:
  caches:
  - projects-core-terraform-modules-test
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test projects/core/terraform-submodules/gcp-docker-images-registry:
  caches:
  - projects-core-terraform-submodules-gcp-docker-images-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test projects/core/terraform-submodules/gcp-helm-charts-registry:
  caches:
  - projects-core-terraform-submodules-gcp-helm-charts-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test projects/core/terraform-submodules/gcp-project:
  caches:
  - projects-core-terraform-submodules-gcp-project
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test projects/core/terraform-submodules/gcp-terraform-modules-registry:
  caches:
  - projects-core-terraform-submodules-gcp-terraform-modules-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

feature: default external Helm charts values
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/assets/kyverno.yaml.tftpl
  projects/core/terraform-submodules/gke-platform/helm/values/cert-manager.yaml
  projects/core/terraform-submodules/gke-platform/helm/values/kyverno.yaml
  projects/core/terraform-submodules/gke-platform/helm/values/prometheus-operator-crds.yaml
  projects/core/terraform-submodules/gke-platform/helm/values/velero.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
  projects/demo/helm-charts/stateful-kuard/templates/http-server.sts.yaml
  projects/demo/helm-charts/stateless-kuard/Chart.yaml
  projects/demo/helm-charts/stateless-kuard/templates/http-server.deploy.yaml
  projects/o11y/terraform-modules/test/assets/istio_base.yaml.tftpl
  projects/o11y/terraform-modules/test/assets/istio_discovery.yaml.tftpl
  projects/o11y/terraform-modules/test/assets/opentelemetry_operator.yaml.tftpl
  projects/o11y/terraform-modules/test/helm/values/base.yaml
  projects/o11y/terraform-modules/test/helm/values/istiod.yaml
  projects/o11y/terraform-modules/test/helm/values/opentelemetry-collector.yaml
  projects/o11y/terraform-modules/test/helm/values/opentelemetry-operator.yaml
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/assets/grafana_postgresql/values.yaml.tftpl
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/grafana.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/loki.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/mimir-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/postgresql.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/helm/values/tempo-distributed.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/scripts/scale
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/main.tf
  scripts/ext
  scripts/lib/str.bash
Due: test projects/core/terraform-submodules/gke-platform, test projects/o11y/terraform-submodules/gke-lgtm-stack, test projects/o11y/terraform-submodules/k8s-otel-collectors, publish projects/core/terraform-submodules/gke-platform, publish projects/o11y/terraform-submodules/gke-lgtm-stack, publish projects/o11y/terraform-submodules/k8s-otel-collectors

tests
  go.work
  go/cmd/test-kuard/README.md
  go/cmd/test-kuard/main.go
  projects/demo/go-modules/kuard-tester/go.mod
  projects/demo/go-modules/kuard-tester/go.sum
  projects/demo/go-modules/kuard-tests/go.mod
Due: none

feature: helm-manifest module
  .github/workflows/projects-demo-terraform-submodules-helm-manifest.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-release.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-template.gotmpl.yaml
  bitbucket-pipelines.yml
  projects/demo/terraform-modules/kuard/main.tf
  projects/demo/terraform-submodules/helm-manifest/.project.yaml
  projects/demo/terraform-submodules/helm-manifest/CHANGELOG.md
  projects/demo/terraform-submodules/helm-manifest/README.md
  projects/demo/terraform-submodules/helm-manifest/locals.tf
  projects/demo/terraform-submodules/helm-manifest/main.tf
  projects/demo/terraform-submodules/helm-manifest/manifest/Chart.yaml
  projects/demo/terraform-submodules/helm-manifest/manifest/templates/manifest.yaml
  projects/demo/terraform-submodules/helm-manifest/manifest/values.yaml
  projects/demo/terraform-submodules/helm-manifest/terraform.tf
  projects/demo/terraform-submodules/helm-manifest/variables.tf
  projects/demo/terraform-submodules/helm-release/.project.yaml
  projects/demo/terraform-submodules/helm-template/.project.yaml
  projects/demo/terraform-submodules/helm-template/CHANGELOG.md
  projects/demo/terraform-submodules/helm-template/README.md
  projects/demo/terraform-submodules/helm-template/main.tf
  projects/demo/terraform-submodules/helm-template/terraform.tf
  projects/demo/terraform-submodules/helm-template/variables.tf
  projects/demo/terraform-submodules/kuard/main.tf
Due: none

v
  projects/demo/terraform-submodules/kuard/.project.yaml
Due: none

feature: helm-manifest module
  .github/workflows/projects-demo-terraform-submodules-helm-manifest.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-release.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-template.gotmpl.yaml
  bitbucket-pipelines.yml
  projects/demo/terraform-modules/kuard/main.tf
  projects/demo/terraform-submodules/helm-manifest/.project.yaml
  projects/demo/terraform-submodules/helm-manifest/CHANGELOG.md
  projects/demo/terraform-submodules/helm-manifest/README.md
  projects/demo/terraform-submodules/helm-manifest/locals.tf
  projects/demo/terraform-submodules/helm-manifest/main.tf
  projects/demo/terraform-submodules/helm-manifest/manifest/Chart.yaml
  projects/demo/terraform-submodules/helm-manifest/manifest/templates/manifest.yaml
  projects/demo/terraform-submodules/helm-manifest/manifest/values.yaml
  projects/demo/terraform-submodules/helm-manifest/terraform.tf
  projects/demo/terraform-submodules/helm-manifest/variables.tf
  projects/demo/terraform-submodules/helm-release/.project.yaml
  projects/demo/terraform-submodules/helm-template/.project.yaml
  projects/demo/terraform-submodules/helm-template/CHANGELOG.md
  projects/demo/terraform-submodules/helm-template/README.md
  projects/demo/terraform-submodules/helm-template/main.tf
  projects/demo/terraform-submodules/helm-template/terraform.tf
  projects/demo/terraform-submodules/helm-template/variables.tf
  projects/demo/terraform-submodules/kuard/.project.yaml
  projects/demo/terraform-submodules/kuard/main.tf
Due: none

feature: workspace and vault modules
  projects/core/terraform-submodules/gke-vault/.project.yaml
  projects/core/terraform-submodules/gke-vault/CHANGELOG.md
  projects/core/terraform-submodules/gke-vault/README.md
  projects/core/terraform-submodules/gke-vault/locals.tf
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-vault/outputs.tf
  projects/core/terraform-submodules/gke-vault/terraform.tf
  projects/core/terraform-submodules/gke-vault/variables.tf
  projects/core/terraform-submodules/gke-workspace/.project.yaml
  projects/core/terraform-submodules/gke-workspace/CHANGELOG.md
  projects/core/terraform-submodules/gke-workspace/README.md
  projects/core/terraform-submodules/gke-workspace/locals.tf
  projects/core/terraform-submodules/gke-workspace/main.tf
  projects/core/terraform-submodules/gke-workspace/outputs.tf
  projects/core/terraform-submodules/gke-workspace/terraform.tf
  projects/core/terraform-submodules/gke-workspace/variables.tf
Due: none

workspace
  .github/workflows/projects-core-terraform-submodules-gke-vault.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-workspace.gotmpl.yaml
  bitbucket-pipelines.yml
Due: none

workspace
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/locals.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/role.workspace_developer.tf
  projects/core/terraform-submodules/gke-platform/role.workspace_tester.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

workspace
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/locals.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/outputs.tf
  projects/core/terraform-submodules/gke-vault/locals.tf
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-vault/outputs.tf
  projects/core/terraform-submodules/gke-vault/variables.tf
  projects/core/terraform-submodules/gke-workspace/locals.tf
  projects/core/terraform-submodules/gke-workspace/main.tf
  projects/core/terraform-submodules/gke-workspace/outputs.tf
  projects/core/terraform-submodules/gke-workspace/variables.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

workspace
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-workspace/main.tf
Due: none

workspace
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-modules/test/moved.tf
  projects/core/terraform-modules/test/providers.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/x.tf
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-workspace/main.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

workspace
  projects/core/terraform-submodules/gke-platform/role.cluster_viewer.tf
  projects/core/terraform-submodules/gke-platform/role.vault_editor.tf
  projects/core/terraform-submodules/gke-platform/role.vault_viewer.tf
  projects/core/terraform-submodules/gke-platform/role.workspace_developer.tf
  projects/core/terraform-submodules/gke-platform/role.workspace_tester.tf
  projects/core/terraform-submodules/gke-platform/x.tf
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-workspace/main.tf
Due: test projects/core/terraform-submodules/gke-platform, publish projects/core/terraform-submodules/gke-platform

workspace
  projects/core/terraform-modules/test/main.tf
Due: validate projects/core/terraform-modules/test, plan projects/core/terraform-modules/test, apply projects/core/terraform-modules/test

workspace
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
  projects/core/terraform-submodules/gke-platform/x.tf
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-workspace/main.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

workspace
  projects/core/terraform-modules/test/moved.tf
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-workspace/main.tf
Due: validate projects/core/terraform-modules/test, plan projects/core/terraform-modules/test, apply projects/core/terraform-modules/test

workspace
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/role.vault_reader.tf
  projects/core/terraform-submodules/gke-platform/role.vault_writer.tf
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-vault/variables.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

feature: gke-workspace and gke-vault submodules
  .github/workflows/projects-core-terraform-submodules-gke-vault.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-workspace.gotmpl.yaml
  bitbucket-pipelines.yml
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-modules/test/providers.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/locals.tf
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/outputs.tf
  projects/core/terraform-submodules/gke-platform/role.cluster_viewer.tf
  projects/core/terraform-submodules/gke-platform/role.vault_editor.tf
  projects/core/terraform-submodules/gke-platform/role.vault_reader.tf
  projects/core/terraform-submodules/gke-platform/role.vault_viewer.tf
  projects/core/terraform-submodules/gke-platform/role.vault_writer.tf
  projects/core/terraform-submodules/gke-platform/role.workspace_developer.tf
  projects/core/terraform-submodules/gke-platform/role.workspace_tester.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
  projects/core/terraform-submodules/gke-vault/.project.yaml
  projects/core/terraform-submodules/gke-vault/CHANGELOG.md
  projects/core/terraform-submodules/gke-vault/README.md
  projects/core/terraform-submodules/gke-vault/main.tf
  projects/core/terraform-submodules/gke-vault/terraform.tf
  projects/core/terraform-submodules/gke-vault/variables.tf
  projects/core/terraform-submodules/gke-workspace/.project.yaml
  projects/core/terraform-submodules/gke-workspace/CHANGELOG.md
  projects/core/terraform-submodules/gke-workspace/README.md
  projects/core/terraform-submodules/gke-workspace/main.tf
  projects/core/terraform-submodules/gke-workspace/terraform.tf
  projects/core/terraform-submodules/gke-workspace/variables.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

feature: vscode tasks
  .vscode/tasks.json
  projects/core/terraform-modules/test/outputs.tf
  projects/core/terraform-submodules/gke-platform/assets/kyverno_policies/disallow-host-path.yaml.tftpl
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/outputs.tf
Due: validate projects/core/terraform-modules/test, test projects/core/terraform-submodules/gke-platform, plan projects/core/terraform-modules/test, publish projects/core/terraform-submodules/gke-platform, apply projects/core/terraform-modules/test

feature: architectural decision records
  docs/decisions/0000-use-markdown-architectural-decision-records.md
  docs/decisions/0001-network-tier.tf
  docs/decisions/0001-network-tier/premium-network-tier.tf
  docs/decisions/README.md
  docs/decisions/adr-template-bare-minimal.md
  docs/decisions/adr-template-bare.md
  docs/decisions/adr-template-minimal.md
  docs/decisions/adr-template.md
Due: none

adr
  docs/decisions/0001-network-tier.md
  docs/decisions/0001-network-tier.tf
Due: none

feature: architectural decision records
  docs/decisions/0000-use-markdown-architectural-decision-records.md
  docs/decisions/0001-network-tier.md
  docs/decisions/0001-network-tier/premium-network-tier.tf
  docs/decisions/README.md
  docs/decisions/adr-template-bare-minimal.md
  docs/decisions/adr-template-bare.md
  docs/decisions/adr-template-minimal.md
  docs/decisions/adr-template.md
Due: none

tests
  go/cmd/test-kuard/README.md
  go/cmd/test-kuard/main.go
  go/test/kuard/README.md
  go/test/kuard/http_test.go
Due: none

tests
  .github/workflow.yaml.gotmpl
  .github/workflows/projects-core-docker-images-devcontainer.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-rte.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-sdk.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-main.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-prod.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-project.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-redirect.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-route.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-platform.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-service-account.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-vault.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-workspace.gotmpl.yaml
  .github/workflows/projects-demo-docker-images-kuard.gotmpl.yaml
  .github/workflows/projects-demo-go-modules-kuard-tester.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateful-kuard.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateless-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-modules-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-manifest.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-template.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-kuard.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-k8s-otel-collectors.gotmpl.yaml
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
  go/test/kuard/README.md
  projects/demo/go-modules/kuard-tester/.project.yaml
  projects/demo/go-modules/kuard-tester/README.md
  projects/demo/go-modules/kuard-tester/test/http_test.go
  scripts/go-module
Due: none

tests
  scripts/go-module
Due: none

tests
  projects/demo/go-modules/kuard-tester/test/http_test.go
Due: none

feature: test GKE gateway with kuard HTTP tests
  .github/workflow.yaml.gotmpl
  .github/workflows/projects-core-docker-images-devcontainer.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-rte.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-sdk.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-main.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-prod.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-project.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-redirect.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-route.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-platform.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-service-account.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-vault.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-workspace.gotmpl.yaml
  .github/workflows/projects-demo-docker-images-kuard.gotmpl.yaml
  .github/workflows/projects-demo-go-modules-kuard-tester.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateful-kuard.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateless-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-modules-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-manifest.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-template.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-kuard.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-k8s-otel-collectors.gotmpl.yaml
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
  go.work
  projects/demo/go-modules/kuard-tester/.project.yaml
  projects/demo/go-modules/kuard-tester/README.md
  projects/demo/go-modules/kuard-tester/go.mod
  projects/demo/go-modules/kuard-tester/go.sum
  projects/demo/go-modules/kuard-tester/test/http_test.go
  scripts/go-module
Due: none

adr
  .devcontainer/devcontainer.json
  docs/decisions/0002-pod-security.md
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/terraform-submodules/gke-platform/.project.yaml
Due: test projects/core/docker-images/devcontainer, test projects/core/terraform-submodules/gke-platform, publish projects/core/docker-images/devcontainer, publish projects/core/terraform-submodules/gke-platform

fix: GitHub Actions checkout
  .github/workflow.yaml.gotmpl
  .github/workflows/dev-stop.yaml
  .github/workflows/projects-core-docker-images-devcontainer.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-rte.gotmpl.yaml
  .github/workflows/projects-core-docker-images-go-sdk.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-main.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-prod.gotmpl.yaml
  .github/workflows/projects-core-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-project.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-redirect.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-gateway-route.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-platform.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-service-account.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-vault.gotmpl.yaml
  .github/workflows/projects-core-terraform-submodules-gke-workspace.gotmpl.yaml
  .github/workflows/projects-demo-docker-images-kuard.gotmpl.yaml
  .github/workflows/projects-demo-go-modules-kuard-tester.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateful-kuard.gotmpl.yaml
  .github/workflows/projects-demo-helm-charts-stateless-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-modules-kuard.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-manifest.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-helm-template.gotmpl.yaml
  .github/workflows/projects-demo-terraform-submodules-kuard.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-modules-test.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/projects-o11y-terraform-submodules-k8s-otel-collectors.gotmpl.yaml
  .github/workflows/test-bash.yaml
  .github/workflows/test-go.yaml
  projects/core/docker-images/go-rte/.project.yaml
Due: test projects/core/docker-images/go-rte, publish projects/core/docker-images/go-rte

slug
  .github/workflow.yaml.gotmpl
  .github/workflows/core-tfsub-gke-platform.gotmpl.yaml
  .github/workflows/x-core-image-devcontainer.gotmpl.yaml
  .github/workflows/x-core-image-go-rte.gotmpl.yaml
  .github/workflows/x-core-image-go-sdk.gotmpl.yaml
  .github/workflows/x-core-tfmod-main.gotmpl.yaml
  .github/workflows/x-core-tfmod-prod.gotmpl.yaml
  .github/workflows/x-core-tfmod-test.gotmpl.yaml
  .github/workflows/x-core-tfsub-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/x-core-tfsub-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/x-core-tfsub-gcp-project.gotmpl.yaml
  .github/workflows/x-core-tfsub-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/x-core-tfsub-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/x-core-tfsub-gke-gateway-redirect.gotmpl.yaml
  .github/workflows/x-core-tfsub-gke-gateway-route.gotmpl.yaml
  .github/workflows/x-core-tfsub-gke-platform.gotmpl.yaml
  .github/workflows/x-core-tfsub-gke-service-account.gotmpl.yaml
  .github/workflows/x-core-tfsub-gke-vault.gotmpl.yaml
  .github/workflows/x-core-tfsub-gke-workspace.gotmpl.yaml
  .github/workflows/x-demo-chart-stateful-kuard.gotmpl.yaml
  .github/workflows/x-demo-chart-stateless-kuard.gotmpl.yaml
  .github/workflows/x-demo-gomod-kuard-tester.gotmpl.yaml
  .github/workflows/x-demo-image-kuard.gotmpl.yaml
  .github/workflows/x-demo-tfmod-kuard.gotmpl.yaml
  .github/workflows/x-demo-tfsub-helm-manifest.gotmpl.yaml
  .github/workflows/x-demo-tfsub-helm-template.gotmpl.yaml
  .github/workflows/x-demo-tfsub-kuard.gotmpl.yaml
  .github/workflows/x-o11y-tfmod-test.gotmpl.yaml
  .github/workflows/x-o11y-tfsub-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/x-o11y-tfsub-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/x-o11y-tfsub-k8s-otel-collectors.gotmpl.yaml
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
  go/cmd/render-github-workflows/main.go
Due: none

slug
  .github/workflows/workflow.core-image-devcontainer.gotmpl.yaml
  .github/workflows/workflow.core-image-go-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-go-sdk.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-main.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-prod.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-project.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-gateway-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-gateway-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-platform.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-service-account.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-vault.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-workspace.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateful-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateless-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-gomod-kuard-tester.gotmpl.yaml
  .github/workflows/workflow.demo-image-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfmod-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-manifest.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-template.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-kuard.gotmpl.yaml
  .github/workflows/workflow.o11y-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-otel-collectors.gotmpl.yaml
  go/cmd/render-github-workflows/main.go
Due: none

slug
  .github/workflow.yaml.gotmpl
Due: none

slug
  go/internal/monorepo/slug.go
Due: none

slug
  go/internal/monorepo/slug_test.go
Due: none

Path conditions:
  test projects/core/docker-images/devcontainer: any of: projects/core/docker-images/devcontainer/**
  test projects/core/docker-images/go-rte: any of: projects/core/docker-images/go-rte/**
  test projects/core/docker-images/go-sdk: any of: projects/core/docker-images/go-sdk/**
  validate projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  validate projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  validate projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  test projects/core/terraform-submodules/gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test projects/core/terraform-submodules/gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test projects/core/terraform-submodules/gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test projects/core/terraform-submodules/gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test projects/core/terraform-submodules/gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test projects/core/terraform-submodules/gke-gateway-redirect: any of: projects/core/terraform-submodules/gke-gateway-redirect/**
  test projects/core/terraform-submodules/gke-gateway-route: any of: projects/core/terraform-submodules/gke-gateway-route/**
  test projects/core/terraform-submodules/gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test projects/core/terraform-submodules/gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test projects/kuard/docker-images/kuard: any of: projects/kuard/docker-images/kuard/**
  test projects/kuard/helm-charts/stateful-kuard: any of: projects/kuard/helm-charts/stateful-kuard/**
  test projects/kuard/helm-charts/stateless-kuard: any of: projects/kuard/helm-charts/stateless-kuard/**
  validate projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  test projects/kuard/terraform-submodules/helm-release: any of: projects/kuard/terraform-submodules/helm-release/**
  test projects/kuard/terraform-submodules/kuard: any of: projects/kuard/terraform-submodules/kuard/**
  validate projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**
  test projects/o11y/terraform-submodules/gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test projects/o11y/terraform-submodules/gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test projects/o11y/terraform-submodules/k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  plan projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  plan projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  plan projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  plan projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  plan projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**
  publish projects/core/docker-images/devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish projects/core/docker-images/go-rte: any of: projects/core/docker-images/go-rte/**
  publish projects/core/docker-images/go-sdk: any of: projects/core/docker-images/go-sdk/**
  publish projects/core/terraform-submodules/gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish projects/core/terraform-submodules/gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish projects/core/terraform-submodules/gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish projects/core/terraform-submodules/gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish projects/core/terraform-submodules/gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish projects/core/terraform-submodules/gke-gateway-redirect: any of: projects/core/terraform-submodules/gke-gateway-redirect/**
  publish projects/core/terraform-submodules/gke-gateway-route: any of: projects/core/terraform-submodules/gke-gateway-route/**
  publish projects/core/terraform-submodules/gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish projects/core/terraform-submodules/gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish projects/kuard/docker-images/kuard: any of: projects/kuard/docker-images/kuard/**
  publish projects/kuard/helm-charts/stateful-kuard: any of: projects/kuard/helm-charts/stateful-kuard/**
  publish projects/kuard/helm-charts/stateless-kuard: any of: projects/kuard/helm-charts/stateless-kuard/**
  publish projects/kuard/terraform-submodules/helm-release: any of: projects/kuard/terraform-submodules/helm-release/**
  publish projects/kuard/terraform-submodules/kuard: any of: projects/kuard/terraform-submodules/kuard/**
  publish projects/o11y/terraform-submodules/gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish projects/o11y/terraform-submodules/gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish projects/o11y/terraform-submodules/k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  apply projects/core/terraform-modules/main: any of: projects/core/terraform-modules/main/**
  apply projects/core/terraform-modules/prod: any of: projects/core/terraform-modules/prod/**
  apply projects/core/terraform-modules/test: any of: projects/core/terraform-modules/test/**
  apply projects/kuard/terraform-modules/kuard: any of: projects/kuard/terraform-modules/kuard/**
  apply projects/o11y/terraform-modules/test-monitor: any of: projects/o11y/terraform-modules/test-monitor/**
