Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test core-image-devcontainer, test core-image-go-rte, test core-image-go-sdk, test core-tfmod-main, test core-tfmod-prod, test core-tfmod-test, test core-tfsub-gcp-docker-images-registry, test core-tfsub-gcp-helm-charts-registry, test core-tfsub-gcp-project, test core-tfsub-gcp-terraform-modules-registry, test core-tfsub-gcp-terraform-state-bucket, test core-tfsub-gke-platform, test core-tfsub-gke-service-account, test core-tfsub-k8s-gateway-redirect, test core-tfsub-k8s-gateway-route, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test demo-image-kuard, test demo-gomod-kuard-tester, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, test demo-tfmod-kuard, test demo-tfsub-helm-manifest, test demo-tfsub-helm-template, test demo-tfsub-kuard, test o11y-tfmod-test, test o11y-tfsub-gcp-availability-monitor, test o11y-tfsub-gke-lgtm-stack, test o11y-tfsub-k8s-otel-collectors, plan core-tfmod-main, plan core-tfmod-prod, plan core-tfmod-test, plan demo-tfmod-kuard, plan o11y-tfmod-test, publish core-image-devcontainer, publish core-image-go-rte, publish core-image-go-sdk, publish core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-project, publish core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gke-platform, publish core-tfsub-gke-service-account, publish core-tfsub-k8s-gateway-redirect, publish core-tfsub-k8s-gateway-route, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish demo-image-kuard, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard, publish demo-tfsub-helm-manifest, publish demo-tfsub-helm-template, publish demo-tfsub-kuard, publish o11y-tfsub-gcp-availability-monitor, publish o11y-tfsub-gke-lgtm-stack, publish o11y-tfsub-k8s-otel-collectors, apply core-tfmod-main, apply core-tfmod-prod, apply core-tfmod-test, apply demo-tfmod-kuard, apply o11y-tfmod-test

test core-image-devcontainer:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-go-rte:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-go-sdk:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfmod-main:
  caches:
  - core-tfmod-main
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfmod-prod:
  caches:
  - core-tfmod-prod
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfmod-test:
  caches:
  - core-tfmod-test
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfsub-gcp-docker-images-registry:
  caches:
  - core-tfsub-gcp-docker-images-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test core-tfsub-gcp-helm-charts-registry:
  caches:
  - core-tfsub-gcp-helm-charts-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test core-tfsub-gcp-project:
  caches:
  - core-tfsub-gcp-project
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

feature: node labels and taints
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
Due: test core-tfmod-test, test core-tfsub-gke-platform, plan core-tfmod-test, publish core-tfsub-gke-platform, apply core-tfmod-test

feature: node labels and taints
  projects/core/terraform-submodules/gke-platform/main.tf
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.3.104) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

feature: node labels and taints
  projects/core/terraform-modules/test/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/gke-platform/variables.tf
Due: test core-tfmod-test, test core-tfsub-gke-platform, plan core-tfmod-test, publish core-tfsub-gke-platform, apply core-tfmod-test

feature: o11y elastic stack
  docs/40-monitoring.md
  projects/o11y/terraform-modules/test/assets/elastic_operator.yaml.tftpl
  projects/o11y/terraform-modules/test/main.tf
Due: test o11y-tfmod-test, plan o11y-tfmod-test, apply o11y-tfmod-test

feature: o11y elastic stack
  projects/o11y/terraform-submodules/k8s-elastic-stack/.project.yaml
  projects/o11y/terraform-submodules/k8s-elastic-stack/CHANGELOG.md
  projects/o11y/terraform-submodules/k8s-elastic-stack/README.md
  projects/o11y/terraform-submodules/k8s-elastic-stack/terraform.tf
Due: none

feature: o11y elastic stack
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/k8s-elastic-stack/outputs.tf
  projects/o11y/terraform-submodules/k8s-elastic-stack/variables.tf
  projects/o11y/terraform-submodules/k8s-otel-collectors/variables.tf
Due: test o11y-tfmod-test, test o11y-tfsub-k8s-otel-collectors, plan o11y-tfmod-test, publish o11y-tfsub-k8s-otel-collectors, apply o11y-tfmod-test

feature: o11y elastic stack
  docs/40-monitoring.md
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/k8s-elastic-stack/assets/elasticsearch_spec.yaml.tftpl
  projects/o11y/terraform-submodules/k8s-elastic-stack/assets/kibana_spec.yaml.tftpl
  projects/o11y/terraform-submodules/k8s-elastic-stack/locals.tf
  projects/o11y/terraform-submodules/k8s-elastic-stack/main.tf
  projects/o11y/terraform-submodules/k8s-elastic-stack/outputs.tf
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/file_config.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/otlp_config.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/prom_config.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/locals.tf
Due: test o11y-tfmod-test, test o11y-tfsub-k8s-otel-collectors, plan o11y-tfmod-test, publish o11y-tfsub-k8s-otel-collectors, apply o11y-tfmod-test

metricbeat
  projects/o11y/terraform-modules/test/main.tf
  projects/o11y/terraform-submodules/k8s-elastic-stack/assets/metricbeat_spec.yaml.tftpl
  projects/o11y/terraform-submodules/k8s-elastic-stack/main.tf
  projects/o11y/terraform-submodules/k8s-elastic-stack/outputs.tf
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
  projects/o11y/terraform-submodules/k8s-otel-collectors/assets/prom_config.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/locals.tf
  projects/o11y/terraform-submodules/k8s-otel-collectors/variables.tf
Due: test o11y-tfmod-test, test o11y-tfsub-k8s-otel-collectors, plan o11y-tfmod-test, publish o11y-tfsub-k8s-otel-collectors, apply o11y-tfmod-test

chore: update projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md header (v0.3.105) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md
Due: test o11y-tfsub-k8s-otel-collectors, publish o11y-tfsub-k8s-otel-collectors

feature: GitLab pipelines
  .gitattributes
  .gitlab-ci.yml
  .gitlab-ci.yml.gotmpl
  .vscode/settings.json
  go/cmd/render-gitlab-pipelines/README.md
  go/cmd/render-gitlab-pipelines/main.go
  scripts/render-gitlab-pipelines
Due: none

feature: GitLab pipelines
  .gitlab-ci.yml
  .gitlab-ci.yml.gotmpl
Due: none

feature: GitLab pipelines
  .github/workflow.yaml.gotmpl
  .github/workflows/dev-stop.yaml
  .github/workflows/workflow.core-image-devcontainer.gotmpl.yaml
  .github/workflows/workflow.core-image-go1-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-go1-sdk.gotmpl.yaml
  .github/workflows/workflow.core-image-java21-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-java21-sdk.gotmpl.yaml
  .github/workflows/workflow.core-image-node22-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-node22-sdk.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-main.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-prod.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-project.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-platform.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-service-account.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-domain-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-http-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-vault.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-workspace.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateful-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateless-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-gomod-kuard-tester.gotmpl.yaml
  .github/workflows/workflow.demo-image-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfmod-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-manifest.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-template.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-kuard.gotmpl.yaml
  .github/workflows/workflow.o11y-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-otel-collectors.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-prom-exporters.gotmpl.yaml
  .gitlab-ci.yml
  .gitlab-ci.yml.gotmpl
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
Due: none

feature: GitLab pipelines
  .github/workflow.yaml.gotmpl
  .gitlab-ci.yml
  .gitlab-ci.yml.gotmpl
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
Due: none

chore: docs
  projects/core/docker-images/devcontainer/README.md
  projects/core/terraform-modules/main/README.md
  projects/core/terraform-modules/prod/README.md
  projects/core/terraform-modules/test/README.md
  projects/core/terraform-submodules/gcp-docker-images-registry/README.md
  projects/core/terraform-submodules/gcp-helm-charts-registry/README.md
  projects/core/terraform-submodules/gcp-project/README.md
  projects/core/terraform-submodules/gcp-terraform-modules-registry/README.md
  projects/core/terraform-submodules/gcp-terraform-state-bucket/README.md
  projects/core/terraform-submodules/gke-platform/README.md
  projects/core/terraform-submodules/gke-service-account/README.md
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/README.md
  projects/core/terraform-submodules/k8s-gateway-http-route/README.md
  projects/core/terraform-submodules/k8s-vault/README.md
  projects/core/terraform-submodules/k8s-workspace/README.md
  projects/o11y/terraform-modules/test/README.md
  projects/o11y/terraform-submodules/gcp-availability-monitor/README.md
  projects/o11y/terraform-submodules/gke-lgtm-stack/README.md
  projects/o11y/terraform-submodules/k8s-otel-collectors/README.md
  projects/o11y/terraform-submodules/k8s-prom-exporters/README.md
Due: test core-image-devcontainer, test core-tfmod-main, test core-tfmod-prod, test core-tfmod-test, test core-tfsub-gcp-docker-images-registry, test core-tfsub-gcp-helm-charts-registry, test core-tfsub-gcp-project, test core-tfsub-gcp-terraform-modules-registry, test core-tfsub-gcp-terraform-state-bucket, test core-tfsub-gke-platform, test core-tfsub-gke-service-account, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test o11y-tfmod-test, test o11y-tfsub-gcp-availability-monitor, test o11y-tfsub-gke-lgtm-stack, test o11y-tfsub-k8s-otel-collectors, plan core-tfmod-main, plan core-tfmod-prod, plan core-tfmod-test, plan o11y-tfmod-test, publish core-image-devcontainer, publish core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-project, publish core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gke-platform, publish core-tfsub-gke-service-account, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish o11y-tfsub-gcp-availability-monitor, publish o11y-tfsub-gke-lgtm-stack, publish o11y-tfsub-k8s-otel-collectors, apply core-tfmod-main, apply core-tfmod-prod, apply core-tfmod-test, apply o11y-tfmod-test

chore: update projects/core/terraform-submodules/gcp-helm-charts-registry/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-helm-charts-registry/CHANGELOG.md
Due: test core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-helm-charts-registry

chore: update projects/core/terraform-submodules/k8s-gateway-http-route/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-gateway-http-route/CHANGELOG.md
Due: none

chore: update projects/demo/terraform-submodules/helm-template/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/demo/terraform-submodules/helm-template/CHANGELOG.md
Due: test demo-tfsub-helm-template, publish demo-tfsub-helm-template

chore: update projects/o11y/terraform-submodules/gke-lgtm-stack/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/gke-lgtm-stack/CHANGELOG.md
Due: test o11y-tfsub-gke-lgtm-stack, publish o11y-tfsub-gke-lgtm-stack

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

chore: update projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md
Due: test o11y-tfsub-k8s-otel-collectors, publish o11y-tfsub-k8s-otel-collectors

chore: update projects/demo/terraform-submodules/kuard/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/demo/terraform-submodules/kuard/CHANGELOG.md
Due: test demo-tfsub-kuard, publish demo-tfsub-kuard

chore: update projects/core/terraform-submodules/gcp-terraform-state-bucket/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-terraform-state-bucket/CHANGELOG.md
Due: test core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gcp-terraform-state-bucket

chore: update projects/core/terraform-submodules/k8s-vault/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-vault/CHANGELOG.md
Due: test core-tfsub-k8s-vault, publish core-tfsub-k8s-vault

chore: update projects/o11y/terraform-submodules/gcp-availability-monitor/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/gcp-availability-monitor/CHANGELOG.md
Due: test o11y-tfsub-gcp-availability-monitor, publish o11y-tfsub-gcp-availability-monitor

chore: update projects/core/docker-images/go1-rte/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/docker-images/go1-rte/CHANGELOG.md
Due: none

chore: update projects/core/terraform-submodules/gcp-terraform-modules-registry/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-terraform-modules-registry/CHANGELOG.md
Due: test core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-modules-registry

chore: update projects/core/terraform-submodules/k8s-workspace/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-workspace/CHANGELOG.md
Due: test core-tfsub-k8s-workspace, publish core-tfsub-k8s-workspace

chore: update projects/demo/helm-charts/stateful-kuard/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/demo/helm-charts/stateful-kuard/CHANGELOG.md
Due: test demo-chart-stateful-kuard, publish demo-chart-stateful-kuard

chore: update projects/core/docker-images/node22-rte/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/docker-images/node22-rte/CHANGELOG.md
Due: none

chore: update projects/demo/terraform-submodules/helm-manifest/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/demo/terraform-submodules/helm-manifest/CHANGELOG.md
Due: test demo-tfsub-helm-manifest, publish demo-tfsub-helm-manifest

chore: update projects/core/terraform-submodules/k8s-gateway-domain-redirect/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/CHANGELOG.md
Due: none

chore: update projects/core/terraform-submodules/gcp-project/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-project/CHANGELOG.md
Due: test core-tfsub-gcp-project, publish core-tfsub-gcp-project

chore: update projects/demo/helm-charts/stateless-kuard/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/demo/helm-charts/stateless-kuard/CHANGELOG.md
Due: test demo-chart-stateless-kuard, publish demo-chart-stateless-kuard

chore: update projects/core/terraform-submodules/gke-service-account/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-service-account/CHANGELOG.md
Due: test core-tfsub-gke-service-account, publish core-tfsub-gke-service-account

chore: update projects/o11y/terraform-submodules/k8s-prom-exporters/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/k8s-prom-exporters/CHANGELOG.md
Due: none

Path conditions:
  test core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  test core-image-go-rte: any of: projects/core/docker-images/go-rte/**
  test core-image-go-sdk: any of: projects/core/docker-images/go-sdk/**
  test core-tfmod-main: any of: projects/core/terraform-modules/main/**
  test core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  test core-tfmod-test: any of: projects/core/terraform-modules/test/**
  test core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test core-tfsub-k8s-gateway-redirect: any of: projects/core/terraform-submodules/k8s-gateway-redirect/**
  test core-tfsub-k8s-gateway-route: any of: projects/core/terraform-submodules/k8s-gateway-route/**
  test core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  test core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  test demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  test demo-gomod-kuard-tester: any of: projects/demo/go-modules/kuard-tester/**
  test demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  test demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  test demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  test demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  test demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  test demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  test o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  test o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  plan core-tfmod-main: any of: projects/core/terraform-modules/main/**
  plan core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  plan core-tfmod-test: any of: projects/core/terraform-modules/test/**
  plan demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  plan o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  publish core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish core-image-go-rte: any of: projects/core/docker-images/go-rte/**
  publish core-image-go-sdk: any of: projects/core/docker-images/go-sdk/**
  publish core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish core-tfsub-k8s-gateway-redirect: any of: projects/core/terraform-submodules/k8s-gateway-redirect/**
  publish core-tfsub-k8s-gateway-route: any of: projects/core/terraform-submodules/k8s-gateway-route/**
  publish core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  publish core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  publish demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  publish demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  publish demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  publish demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  publish demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  publish demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  publish o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  apply core-tfmod-main: any of: projects/core/terraform-modules/main/**
  apply core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  apply core-tfmod-test: any of: projects/core/terraform-modules/test/**
  apply demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  apply o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
