Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test core-image-devcontainer, test core-image-go-rte, test core-image-go-sdk, test core-tfmod-main, test core-tfmod-prod, test core-tfmod-test, test core-tfsub-gcp-docker-images-registry, test core-tfsub-gcp-helm-charts-registry, test core-tfsub-gcp-project, test core-tfsub-gcp-terraform-modules-registry, test core-tfsub-gcp-terraform-state-bucket, test core-tfsub-gke-platform, test core-tfsub-gke-service-account, test core-tfsub-k8s-gateway-redirect, test core-tfsub-k8s-gateway-route, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test demo-image-kuard, test demo-gomod-kuard-tester, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, test demo-tfmod-kuard, test demo-tfsub-helm-manifest, test demo-tfsub-helm-template, test demo-tfsub-kuard, test o11y-tfmod-test, test o11y-tfsub-gcp-availability-monitor, test o11y-tfsub-gke-lgtm-stack, test o11y-tfsub-k8s-otel-collectors, plan core-tfmod-main, plan core-tfmod-prod, plan core-tfmod-test, plan demo-tfmod-kuard, plan o11y-tfmod-test, publish core-image-devcontainer, publish core-image-go-rte, publish core-image-go-sdk, publish core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-project, publish core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gke-platform, publish core-tfsub-gke-service-account, publish core-tfsub-k8s-gateway-redirect, publish core-tfsub-k8s-gateway-route, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish demo-image-kuard, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard, publish demo-tfsub-helm-manifest, publish demo-tfsub-helm-template, publish demo-tfsub-kuard, publish o11y-tfsub-gcp-availability-monitor, publish o11y-tfsub-gke-lgtm-stack, publish o11y-tfsub-k8s-otel-collectors, apply core-tfmod-main, apply core-tfmod-prod, apply core-tfmod-test, apply demo-tfmod-kuard, apply o11y-tfmod-test

Path conditions:
  test core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  test core-image-go-rte: any of: projects/core/docker-images/go-rte/**
  test core-image-go-sdk: any of: projects/core/docker-images/go-sdk/**
  test core-tfmod-main: any of: projects/core/terraform-modules/main/**
  test core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  test core-tfmod-test: any of: projects/core/terraform-modules/test/**
  test core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test core-tfsub-k8s-gateway-redirect: any of: projects/core/terraform-submodules/k8s-gateway-redirect/**
  test core-tfsub-k8s-gateway-route: any of: projects/core/terraform-submodules/k8s-gateway-route/**
  test core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  test core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  test demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  test demo-gomod-kuard-tester: any of: projects/demo/go-modules/kuard-tester/**
  test demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  test demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  test demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  test demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  test demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  test demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  test o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  test o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  plan core-tfmod-main: any of: projects/core/terraform-modules/main/**
  plan core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  plan core-tfmod-test: any of: projects/core/terraform-modules/test/**
  plan demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  plan o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  publish core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish core-image-go-rte: any of: projects/core/docker-images/go-rte/**
  publish core-image-go-sdk: any of: projects/core/docker-images/go-sdk/**
  publish core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish core-tfsub-k8s-gateway-redirect: any of: projects/core/terraform-submodules/k8s-gateway-redirect/**
  publish core-tfsub-k8s-gateway-route: any of: projects/core/terraform-submodules/k8s-gateway-route/**
  publish core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  publish core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  publish demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  publish demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  publish demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  publish demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  publish demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  publish demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  publish o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  apply core-tfmod-main: any of: projects/core/terraform-modules/main/**
  apply core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  apply core-tfmod-test: any of: projects/core/terraform-modules/test/**
  apply demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  apply o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**

chore: update projects/demo/docker-images/kuard/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/demo/docker-images/kuard/CHANGELOG.md
Due: test demo-image-kuard, publish demo-image-kuard

chore: update projects/core/terraform-submodules/gcp-docker-images-registry/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-docker-images-registry/CHANGELOG.md
Due: test core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-docker-images-registry

chore: update projects/core/docker-images/go1-sdk/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/docker-images/go1-sdk/CHANGELOG.md
Due: none

chore: update projects/core/docker-images/java21-rte/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/docker-images/java21-rte/CHANGELOG.md
Due: none

chore: update projects/core/docker-images/node22-sdk/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/docker-images/node22-sdk/CHANGELOG.md
Due: none

chore: update projects/core/docker-images/java21-sdk/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/docker-images/java21-sdk/CHANGELOG.md
Due: none

chore: update projects/core/docker-images/devcontainer/CHANGELOG.md header (v0.4.100) [skip ci] [ci skip]
  projects/core/docker-images/devcontainer/CHANGELOG.md
Due: test core-image-devcontainer, publish core-image-devcontainer

chore: devcontainer version
  .github/workflow.yaml.gotmpl
  .github/workflows/dev-stop.yaml
  .github/workflows/test-bash.yaml
  .github/workflows/test-go.yaml
  .github/workflows/workflow.core-image-devcontainer.gotmpl.yaml
  .github/workflows/workflow.core-image-go1-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-go1-sdk.gotmpl.yaml
  .github/workflows/workflow.core-image-java21-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-java21-sdk.gotmpl.yaml
  .github/workflows/workflow.core-image-node22-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-node22-sdk.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-main.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-prod.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-project.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-platform.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-service-account.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-domain-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-http-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-vault.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-workspace.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateful-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateless-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-gomod-kuard-tester.gotmpl.yaml
  .github/workflows/workflow.demo-image-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfmod-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-manifest.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-template.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-kuard.gotmpl.yaml
  .github/workflows/workflow.o11y-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-otel-collectors.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-prom-exporters.gotmpl.yaml
Due: none

refactor: use ports within HTTP routes
  docs/decisions/0001-network-tier/premium-network-tier.txt
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/main.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/variables.tf
  projects/core/terraform-submodules/k8s-gateway-http-route/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-http-route/main.tf
  projects/core/terraform-submodules/k8s-gateway-http-route/variables.tf
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

chore: update projects/core/terraform-submodules/k8s-gateway-http-route/CHANGELOG.md header (v0.4.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-gateway-http-route/CHANGELOG.md
Due: none

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.4.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

chore: update projects/core/terraform-submodules/k8s-gateway-domain-redirect/CHANGELOG.md header (v0.4.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/CHANGELOG.md
Due: none

refactor: use ports within HTTP routes
  docs/decisions/0001-network-tier/premium-network-tier.txt
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/CHANGELOG.md
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/main.tf
  projects/core/terraform-submodules/k8s-gateway-domain-redirect/variables.tf
  projects/core/terraform-submodules/k8s-gateway-http-route/.project.yaml
  projects/core/terraform-submodules/k8s-gateway-http-route/CHANGELOG.md
  projects/core/terraform-submodules/k8s-gateway-http-route/main.tf
  projects/core/terraform-submodules/k8s-gateway-http-route/variables.tf
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

feature: add Firebase to devcontainer
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
Due: test core-image-devcontainer, publish core-image-devcontainer

fix: set cert-manager DNS01 nameservers
  projects/core/terraform-submodules/gke-platform/assets/cert_manager.yaml.tftpl
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

fix: Maven installation source
  projects/core/docker-images/java21-sdk/Dockerfile.bash
Due: none

fix: add Firebase devcontainer config volume
  .devcontainer/devcontainer.json
Due: none

chore: update CI images
  .github/workflows/dev-stop.yaml
  .github/workflows/test-bash.yaml
  .github/workflows/test-go.yaml
  .github/workflows/workflow.core-image-devcontainer.gotmpl.yaml
  .github/workflows/workflow.core-image-go1-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-go1-sdk.gotmpl.yaml
  .github/workflows/workflow.core-image-java21-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-java21-sdk.gotmpl.yaml
  .github/workflows/workflow.core-image-node22-rte.gotmpl.yaml
  .github/workflows/workflow.core-image-node22-sdk.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-main.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-prod.gotmpl.yaml
  .github/workflows/workflow.core-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-project.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-platform.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-gke-service-account.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-domain-redirect.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-gateway-http-route.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-vault.gotmpl.yaml
  .github/workflows/workflow.core-tfsub-k8s-workspace.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateful-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-chart-stateless-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-gomod-kuard-tester.gotmpl.yaml
  .github/workflows/workflow.demo-image-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfmod-kuard.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-manifest.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-helm-template.gotmpl.yaml
  .github/workflows/workflow.demo-tfsub-kuard.gotmpl.yaml
  .github/workflows/workflow.o11y-tfmod-test.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-otel-collectors.gotmpl.yaml
  .github/workflows/workflow.o11y-tfsub-k8s-prom-exporters.gotmpl.yaml
  .gitlab-ci.yml
  bitbucket-pipelines.yml
Due: none

feature: gemini
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
Due: test core-image-devcontainer, publish core-image-devcontainer

chore: update projects/core/docker-images/devcontainer/CHANGELOG.md header (v0.5.101) [skip ci] [ci skip]
  projects/core/docker-images/devcontainer/CHANGELOG.md
Due: test core-image-devcontainer, publish core-image-devcontainer

feature: Gemini CLI
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/CHANGELOG.md
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
Due: test core-image-devcontainer, publish core-image-devcontainer

chore: use official Docker extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: remove go-modules project type
  .github/workflow.yaml.gotmpl
  .github/workflows/workflow.demo-gomod-kuard-tester.gotmpl.yaml
  .gitlab-ci.yml
  .gitlab-ci.yml.gotmpl
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
  docs/22-tools.md
  go.work
  go/internal/monorepo/slug.go
  go/internal/monorepo/slug_test.go
  projects/demo/go-modules/kuard-tester/.project.yaml
  projects/demo/go-modules/kuard-tester/README.md
  projects/demo/go-modules/kuard-tester/go.mod
  projects/demo/go-modules/kuard-tester/go.sum
  projects/demo/go-modules/kuard-tester/test/http_test.go
  scripts/go-module
Due: test demo-gomod-kuard-tester

chore: refresh v9
  projects/apps/terraform-modules/test/main.tf
  projects/core/terraform-modules/test/main.tf
Due: test core-tfmod-test, plan core-tfmod-test, apply core-tfmod-test

pip config
  projects/core/docker-images/devcontainer/Dockerfile
Due: test core-image-devcontainer, publish core-image-devcontainer

refresh
  projects/cicd/terraform-modules/cloud-build/assets/monorepo.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/locals.tf
  projects/cicd/terraform-modules/cloud-build/main.tf
  projects/cicd/terraform-modules/cloud-build/outputs.tf
  projects/cicd/terraform-modules/cloud-build/variables.tf
Due: none

refresh
  projects/cicd/terraform-modules/cloud-build/assets/monorepo.bash.tftpl
  projects/cicd/terraform-modules/cloud-build/locals.tf
  projects/cicd/terraform-modules/cloud-build/main.tf
Due: none
