Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test core-image-devcontainer, test core-image-go-rte, test core-image-go-sdk, test core-tfmod-main, test core-tfmod-prod, test core-tfmod-test, test core-tfsub-gcp-docker-images-registry, test core-tfsub-gcp-helm-charts-registry, test core-tfsub-gcp-project, test core-tfsub-gcp-terraform-modules-registry, test core-tfsub-gcp-terraform-state-bucket, test core-tfsub-gke-platform, test core-tfsub-gke-service-account, test core-tfsub-k8s-gateway-redirect, test core-tfsub-k8s-gateway-route, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test demo-image-kuard, test demo-gomod-kuard-tester, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, test demo-tfmod-kuard, test demo-tfsub-helm-manifest, test demo-tfsub-helm-template, test demo-tfsub-kuard, test o11y-tfmod-test, test o11y-tfsub-gcp-availability-monitor, test o11y-tfsub-gke-lgtm-stack, test o11y-tfsub-k8s-otel-collectors, plan core-tfmod-main, plan core-tfmod-prod, plan core-tfmod-test, plan demo-tfmod-kuard, plan o11y-tfmod-test, publish core-image-devcontainer, publish core-image-go-rte, publish core-image-go-sdk, publish core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-project, publish core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gke-platform, publish core-tfsub-gke-service-account, publish core-tfsub-k8s-gateway-redirect, publish core-tfsub-k8s-gateway-route, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish demo-image-kuard, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard, publish demo-tfsub-helm-manifest, publish demo-tfsub-helm-template, publish demo-tfsub-kuard, publish o11y-tfsub-gcp-availability-monitor, publish o11y-tfsub-gke-lgtm-stack, publish o11y-tfsub-k8s-otel-collectors, apply core-tfmod-main, apply core-tfmod-prod, apply core-tfmod-test, apply demo-tfmod-kuard, apply o11y-tfmod-test

test core-image-devcontainer:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-go-rte:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-image-go-sdk:
  services:
  - docker
  caches:
  - docker
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfmod-main:
  caches:
  - core-tfmod-main
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfmod-prod:
  caches:
  - core-tfmod-prod
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfmod-test:
  caches:
  - core-tfmod-test
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

test core-tfsub-gcp-docker-images-registry:
  caches:
  - core-tfsub-gcp-docker-images-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test core-tfsub-gcp-helm-charts-registry:
  caches:
  - core-tfsub-gcp-helm-charts-registry
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
  ...

test core-tfsub-gcp-project:
  caches:
  - core-tfsub-gcp-project
  script:
  - 'set -e
  
    echo "$GOOGLE_CREDENTIALS" | gcloud auth activate-service-account --key-file="/dev/stdin"
  
    export GOOGLE_APPLICATION_CREDENTIALS="/tmp/GOOGLE_APPLICATION_CREDENTIALS.json" && echo "$GOOGLE_CREDENTIALS" >"$GOOGLE_APPLICATION_CREDENTIALS"
  
  ...

chore: update projects/core/docker-images/go1-rte/CHANGELOG.md header (v0.3.103) [skip ci] [ci skip]
  projects/core/docker-images/go1-rte/CHANGELOG.md
Due: none

chore: update projects/demo/docker-images/kuard/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/demo/docker-images/kuard/CHANGELOG.md
Due: test demo-image-kuard, publish demo-image-kuard

chore: update projects/core/docker-images/go1-sdk/CHANGELOG.md header (v0.3.103) [skip ci] [ci skip]
  projects/core/docker-images/go1-sdk/CHANGELOG.md
Due: none

fix: racing commits
  scripts/lib/git.bash
Due: none

chore: update projects/core/docker-images/devcontainer/CHANGELOG.md header (v0.3.103) [skip ci] [ci skip]
  projects/core/docker-images/devcontainer/CHANGELOG.md
Due: test core-image-devcontainer, publish core-image-devcontainer

calico
  .devcontainer/devcontainer.json
  projects/core/docker-images/devcontainer/.project.yaml
  projects/core/docker-images/devcontainer/Dockerfile.bash
  projects/core/docker-images/devcontainer/container-structure-test.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
Due: test core-image-devcontainer, test core-tfsub-gke-platform, publish core-image-devcontainer, publish core-tfsub-gke-platform

cilium
  projects/core/terraform-submodules/gke-platform/main.tf
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

feature: discovers metrics by pod annotations
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/main.tf
Due: test o11y-tfsub-k8s-otel-collectors, publish o11y-tfsub-k8s-otel-collectors

istio
  projects/o11y/terraform-submodules/k8s-otel-collectors/.project.yaml
  projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md
Due: test o11y-tfsub-k8s-otel-collectors, publish o11y-tfsub-k8s-otel-collectors

chore: update projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md header (v0.3.103) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md
Due: test o11y-tfsub-k8s-otel-collectors, publish o11y-tfsub-k8s-otel-collectors

chore: update projects/demo/terraform-submodules/kuard/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/demo/terraform-submodules/kuard/CHANGELOG.md
Due: test demo-tfsub-kuard, publish demo-tfsub-kuard

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

chore: update projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md header (v0.3.104) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/k8s-otel-collectors/CHANGELOG.md
Due: test o11y-tfsub-k8s-otel-collectors, publish o11y-tfsub-k8s-otel-collectors

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.3.102) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

chore: update projects/core/docker-images/devcontainer/CHANGELOG.md header (v0.3.104) [skip ci] [ci skip]
  projects/core/docker-images/devcontainer/CHANGELOG.md
Due: test core-image-devcontainer, publish core-image-devcontainer

cilium
  projects/core/terraform-submodules/gke-platform/assets/hubble_ui.yaml.tftpl
  projects/core/terraform-submodules/gke-platform/main.tf
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

fix: protect stateful resources
  projects/core/terraform-submodules/gcp-docker-images-registry/.project.yaml
  projects/core/terraform-submodules/gcp-docker-images-registry/main.tf
  projects/core/terraform-submodules/gcp-helm-charts-registry/.project.yaml
  projects/core/terraform-submodules/gcp-helm-charts-registry/main.tf
  projects/core/terraform-submodules/gcp-project/.project.yaml
  projects/core/terraform-submodules/gcp-project/locals.tf
  projects/core/terraform-submodules/gcp-project/main.tf
  projects/core/terraform-submodules/gcp-project/variables.tf
  projects/core/terraform-submodules/gcp-terraform-modules-registry/.project.yaml
  projects/core/terraform-submodules/gcp-terraform-modules-registry/main.tf
  projects/core/terraform-submodules/gcp-terraform-state-bucket/.project.yaml
  projects/core/terraform-submodules/gcp-terraform-state-bucket/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/k8s-vault/.project.yaml
  projects/core/terraform-submodules/k8s-vault/main.tf
  projects/core/terraform-submodules/k8s-workspace/.project.yaml
  projects/core/terraform-submodules/k8s-workspace/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: test core-tfsub-gcp-docker-images-registry, test core-tfsub-gcp-helm-charts-registry, test core-tfsub-gcp-project, test core-tfsub-gcp-terraform-modules-registry, test core-tfsub-gcp-terraform-state-bucket, test core-tfsub-gke-platform, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test o11y-tfsub-gke-lgtm-stack, publish core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-project, publish core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gke-platform, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish o11y-tfsub-gke-lgtm-stack

chore: update projects/core/terraform-submodules/gcp-terraform-state-bucket/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-terraform-state-bucket/CHANGELOG.md
Due: test core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gcp-terraform-state-bucket

chore: update projects/core/terraform-submodules/gcp-docker-images-registry/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-docker-images-registry/CHANGELOG.md
Due: test core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-docker-images-registry

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.3.103) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

chore: update projects/core/terraform-submodules/k8s-workspace/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-workspace/CHANGELOG.md
Due: test core-tfsub-k8s-workspace, publish core-tfsub-k8s-workspace

chore: update projects/core/terraform-submodules/gcp-helm-charts-registry/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-helm-charts-registry/CHANGELOG.md
Due: test core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-helm-charts-registry

chore: update projects/core/terraform-submodules/gcp-terraform-modules-registry/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-terraform-modules-registry/CHANGELOG.md
Due: test core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-modules-registry

chore: update projects/o11y/terraform-submodules/gke-lgtm-stack/CHANGELOG.md header (v0.3.102) [skip ci] [ci skip]
  projects/o11y/terraform-submodules/gke-lgtm-stack/CHANGELOG.md
Due: test o11y-tfsub-gke-lgtm-stack, publish o11y-tfsub-gke-lgtm-stack

chore: update projects/core/terraform-submodules/k8s-vault/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/k8s-vault/CHANGELOG.md
Due: test core-tfsub-k8s-vault, publish core-tfsub-k8s-vault

protect
  projects/core/terraform-submodules/gcp-project/locals.tf
Due: test core-tfsub-gcp-project, publish core-tfsub-gcp-project

chore: update projects/core/terraform-submodules/gcp-project/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gcp-project/CHANGELOG.md
Due: test core-tfsub-gcp-project, publish core-tfsub-gcp-project

fix: prevent stateful resources destroy
  projects/core/terraform-submodules/gcp-docker-images-registry/.project.yaml
  projects/core/terraform-submodules/gcp-docker-images-registry/CHANGELOG.md
  projects/core/terraform-submodules/gcp-docker-images-registry/main.tf
  projects/core/terraform-submodules/gcp-helm-charts-registry/.project.yaml
  projects/core/terraform-submodules/gcp-helm-charts-registry/CHANGELOG.md
  projects/core/terraform-submodules/gcp-helm-charts-registry/main.tf
  projects/core/terraform-submodules/gcp-project/.project.yaml
  projects/core/terraform-submodules/gcp-project/CHANGELOG.md
  projects/core/terraform-submodules/gcp-project/locals.tf
  projects/core/terraform-submodules/gcp-project/main.tf
  projects/core/terraform-submodules/gcp-project/variables.tf
  projects/core/terraform-submodules/gcp-terraform-modules-registry/.project.yaml
  projects/core/terraform-submodules/gcp-terraform-modules-registry/CHANGELOG.md
  projects/core/terraform-submodules/gcp-terraform-modules-registry/main.tf
  projects/core/terraform-submodules/gcp-terraform-state-bucket/.project.yaml
  projects/core/terraform-submodules/gcp-terraform-state-bucket/CHANGELOG.md
  projects/core/terraform-submodules/gcp-terraform-state-bucket/main.tf
  projects/core/terraform-submodules/gke-platform/.project.yaml
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
  projects/core/terraform-submodules/gke-platform/main.tf
  projects/core/terraform-submodules/k8s-vault/.project.yaml
  projects/core/terraform-submodules/k8s-vault/CHANGELOG.md
  projects/core/terraform-submodules/k8s-vault/main.tf
  projects/core/terraform-submodules/k8s-workspace/.project.yaml
  projects/core/terraform-submodules/k8s-workspace/CHANGELOG.md
  projects/core/terraform-submodules/k8s-workspace/main.tf
  projects/o11y/terraform-submodules/gke-lgtm-stack/.project.yaml
  projects/o11y/terraform-submodules/gke-lgtm-stack/CHANGELOG.md
  projects/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: test core-tfsub-gcp-docker-images-registry, test core-tfsub-gcp-helm-charts-registry, test core-tfsub-gcp-project, test core-tfsub-gcp-terraform-modules-registry, test core-tfsub-gcp-terraform-state-bucket, test core-tfsub-gke-platform, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test o11y-tfsub-gke-lgtm-stack, publish core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-project, publish core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gke-platform, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish o11y-tfsub-gke-lgtm-stack

chore: docs
  docs/00-index.md
  docs/01-monorepo.md
  docs/10-credentials.md
  docs/11-automation.md
  docs/20-artifacts.md
  docs/21-releases.md
  docs/22-tools.md
  docs/29-external-resources.md
  docs/50-platform.md
  docs/51-vaults.md
  docs/59-disaster-recovery.md
  docs/70-monitoring.md
  go/cmd/render-github-workflows/README.md
  scripts/render-github-workflows
Due: none

docs
  docs/decisions/0001-network-tier.md
  docs/decisions/0001-network-tier/premium-network-tier.txt
Due: none

docs
  docs/30-platform.md
  docs/31-vaults.md
  docs/40-monitoring.md
  docs/50-disaster-recovery.md
Due: none

chore: docs
  docs/00-index.md
  docs/01-monorepo.md
  docs/10-credentials.md
  docs/11-automation.md
  docs/20-artifacts.md
  docs/21-releases.md
  docs/22-tools.md
  docs/29-external-resources.md
  docs/30-platform.md
  docs/31-vaults.md
  docs/40-monitoring.md
  docs/50-disaster-recovery.md
  docs/decisions/0001-network-tier.md
  docs/decisions/0001-network-tier/premium-network-tier.txt
  go/cmd/render-github-workflows/README.md
  scripts/render-github-workflows
Due: none

Path conditions:
  test core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  test core-image-go-rte: any of: projects/core/docker-images/go-rte/**
  test core-image-go-sdk: any of: projects/core/docker-images/go-sdk/**
  test core-tfmod-main: any of: projects/core/terraform-modules/main/**
  test core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  test core-tfmod-test: any of: projects/core/terraform-modules/test/**
  test core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test core-tfsub-k8s-gateway-redirect: any of: projects/core/terraform-submodules/k8s-gateway-redirect/**
  test core-tfsub-k8s-gateway-route: any of: projects/core/terraform-submodules/k8s-gateway-route/**
  test core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  test core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  test demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  test demo-gomod-kuard-tester: any of: projects/demo/go-modules/kuard-tester/**
  test demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  test demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  test demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  test demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  test demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  test demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  test o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  test o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  plan core-tfmod-main: any of: projects/core/terraform-modules/main/**
  plan core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  plan core-tfmod-test: any of: projects/core/terraform-modules/test/**
  plan demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  plan o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  publish core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish core-image-go-rte: any of: projects/core/docker-images/go-rte/**
  publish core-image-go-sdk: any of: projects/core/docker-images/go-sdk/**
  publish core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish core-tfsub-k8s-gateway-redirect: any of: projects/core/terraform-submodules/k8s-gateway-redirect/**
  publish core-tfsub-k8s-gateway-route: any of: projects/core/terraform-submodules/k8s-gateway-route/**
  publish core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  publish core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  publish demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  publish demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  publish demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  publish demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  publish demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  publish demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  publish o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  apply core-tfmod-main: any of: projects/core/terraform-modules/main/**
  apply core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  apply core-tfmod-test: any of: projects/core/terraform-modules/test/**
  apply demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  apply o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
