Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test core-image-devcontainer, test core-image-go-rte, test core-image-go-sdk, test core-tfmod-main, test core-tfmod-prod, test core-tfmod-test, test core-tfsub-gcp-docker-images-registry, test core-tfsub-gcp-helm-charts-registry, test core-tfsub-gcp-project, test core-tfsub-gcp-terraform-modules-registry, test core-tfsub-gcp-terraform-state-bucket, test core-tfsub-gke-platform, test core-tfsub-gke-service-account, test core-tfsub-k8s-gateway-redirect, test core-tfsub-k8s-gateway-route, test core-tfsub-k8s-vault, test core-tfsub-k8s-workspace, test demo-image-kuard, test demo-gomod-kuard-tester, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, test demo-tfmod-kuard, test demo-tfsub-helm-manifest, test demo-tfsub-helm-template, test demo-tfsub-kuard, test o11y-tfmod-test, test o11y-tfsub-gcp-availability-monitor, test o11y-tfsub-gke-lgtm-stack, test o11y-tfsub-k8s-otel-collectors, plan core-tfmod-main, plan core-tfmod-prod, plan core-tfmod-test, plan demo-tfmod-kuard, plan o11y-tfmod-test, publish core-image-devcontainer, publish core-image-go-rte, publish core-image-go-sdk, publish core-tfsub-gcp-docker-images-registry, publish core-tfsub-gcp-helm-charts-registry, publish core-tfsub-gcp-project, publish core-tfsub-gcp-terraform-modules-registry, publish core-tfsub-gcp-terraform-state-bucket, publish core-tfsub-gke-platform, publish core-tfsub-gke-service-account, publish core-tfsub-k8s-gateway-redirect, publish core-tfsub-k8s-gateway-route, publish core-tfsub-k8s-vault, publish core-tfsub-k8s-workspace, publish demo-image-kuard, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard, publish demo-tfsub-helm-manifest, publish demo-tfsub-helm-template, publish demo-tfsub-kuard, publish o11y-tfsub-gcp-availability-monitor, publish o11y-tfsub-gke-lgtm-stack, publish o11y-tfsub-k8s-otel-collectors, apply core-tfmod-main, apply core-tfmod-prod, apply core-tfmod-test, apply demo-tfmod-kuard, apply o11y-tfmod-test

Path conditions:
  test core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  test core-image-go-rte: any of: projects/core/docker-images/go-rte/**
  test core-image-go-sdk: any of: projects/core/docker-images/go-sdk/**
  test core-tfmod-main: any of: projects/core/terraform-modules/main/**
  test core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  test core-tfmod-test: any of: projects/core/terraform-modules/test/**
  test core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  test core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  test core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  test core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  test core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  test core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  test core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  test core-tfsub-k8s-gateway-redirect: any of: projects/core/terraform-submodules/k8s-gateway-redirect/**
  test core-tfsub-k8s-gateway-route: any of: projects/core/terraform-submodules/k8s-gateway-route/**
  test core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  test core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  test demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  test demo-gomod-kuard-tester: any of: projects/demo/go-modules/kuard-tester/**
  test demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  test demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  test demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  test demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  test demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  test demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  test o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  test o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  test o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  test o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  plan core-tfmod-main: any of: projects/core/terraform-modules/main/**
  plan core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  plan core-tfmod-test: any of: projects/core/terraform-modules/test/**
  plan demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  plan o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**
  publish core-image-devcontainer: any of: projects/core/docker-images/devcontainer/**
  publish core-image-go-rte: any of: projects/core/docker-images/go-rte/**
  publish core-image-go-sdk: any of: projects/core/docker-images/go-sdk/**
  publish core-tfsub-gcp-docker-images-registry: any of: projects/core/terraform-submodules/gcp-docker-images-registry/**
  publish core-tfsub-gcp-helm-charts-registry: any of: projects/core/terraform-submodules/gcp-helm-charts-registry/**
  publish core-tfsub-gcp-project: any of: projects/core/terraform-submodules/gcp-project/**
  publish core-tfsub-gcp-terraform-modules-registry: any of: projects/core/terraform-submodules/gcp-terraform-modules-registry/**
  publish core-tfsub-gcp-terraform-state-bucket: any of: projects/core/terraform-submodules/gcp-terraform-state-bucket/**
  publish core-tfsub-gke-platform: any of: projects/core/terraform-submodules/gke-platform/**
  publish core-tfsub-gke-service-account: any of: projects/core/terraform-submodules/gke-service-account/**
  publish core-tfsub-k8s-gateway-redirect: any of: projects/core/terraform-submodules/k8s-gateway-redirect/**
  publish core-tfsub-k8s-gateway-route: any of: projects/core/terraform-submodules/k8s-gateway-route/**
  publish core-tfsub-k8s-vault: any of: projects/core/terraform-submodules/k8s-vault/**
  publish core-tfsub-k8s-workspace: any of: projects/core/terraform-submodules/k8s-workspace/**
  publish demo-image-kuard: any of: projects/demo/docker-images/kuard/**
  publish demo-chart-stateful-kuard: any of: projects/demo/helm-charts/stateful-kuard/**
  publish demo-chart-stateless-kuard: any of: projects/demo/helm-charts/stateless-kuard/**
  publish demo-tfsub-helm-manifest: any of: projects/demo/terraform-submodules/helm-manifest/**
  publish demo-tfsub-helm-template: any of: projects/demo/terraform-submodules/helm-template/**
  publish demo-tfsub-kuard: any of: projects/demo/terraform-submodules/kuard/**
  publish o11y-tfsub-gcp-availability-monitor: any of: projects/o11y/terraform-submodules/gcp-availability-monitor/**
  publish o11y-tfsub-gke-lgtm-stack: any of: projects/o11y/terraform-submodules/gke-lgtm-stack/**
  publish o11y-tfsub-k8s-otel-collectors: any of: projects/o11y/terraform-submodules/k8s-otel-collectors/**
  apply core-tfmod-main: any of: projects/core/terraform-modules/main/**
  apply core-tfmod-prod: any of: projects/core/terraform-modules/prod/**
  apply core-tfmod-test: any of: projects/core/terraform-modules/test/**
  apply demo-tfmod-kuard: any of: projects/demo/terraform-modules/kuard/**
  apply o11y-tfmod-test: any of: projects/o11y/terraform-modules/test/**

git
  scripts/lib/git.bash
Due: none

chore: update projects/core/terraform-submodules/gke-platform/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/core/terraform-submodules/gke-platform/CHANGELOG.md
Due: test core-tfsub-gke-platform, publish core-tfsub-gke-platform

fix: racing commits
  projects/core/docker-images/go1-rte/.project.yaml
  projects/core/docker-images/go1-sdk/.project.yaml
  scripts/lib/changelog.bash
Due: none

fix: racing commits
  projects/demo/docker-images/kuard/.project.yaml
  projects/demo/helm-charts/stateful-kuard/Chart.yaml
  projects/demo/helm-charts/stateless-kuard/Chart.yaml
  scripts/lib/git.bash
Due: test demo-image-kuard, test demo-chart-stateful-kuard, test demo-chart-stateless-kuard, publish demo-image-kuard, publish demo-chart-stateful-kuard, publish demo-chart-stateless-kuard

chore: update projects/demo/helm-charts/stateful-kuard/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/demo/helm-charts/stateful-kuard/CHANGELOG.md
Due: test demo-chart-stateful-kuard, publish demo-chart-stateful-kuard

chore: update projects/demo/docker-images/kuard/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/demo/docker-images/kuard/CHANGELOG.md
Due: test demo-image-kuard, publish demo-image-kuard

chore: update projects/core/docker-images/go1-sdk/CHANGELOG.md header (v0.3.103) [skip ci] [ci skip]
  projects/core/docker-images/go1-sdk/CHANGELOG.md
Due: none

fix: racing commits
  scripts/lib/changelog.bash
  scripts/lib/git.bash
Due: none

chore: update projects/demo/helm-charts/stateless-kuard/CHANGELOG.md header (v0.3.101) [skip ci] [ci skip]
  projects/demo/helm-charts/stateless-kuard/CHANGELOG.md
Due: test demo-chart-stateless-kuard, publish demo-chart-stateless-kuard

chore: update projects/core/docker-images/go1-rte/CHANGELOG.md header (v0.3.103) [skip ci] [ci skip]
  projects/core/docker-images/go1-rte/CHANGELOG.md
Due: none

fix: racing commits
  scripts/lib/git.bash
Due: none

fix: racing commits
  scripts/lib/changelog.bash
Due: none
